<link rel="stylesheet" href="/../stylesheets/index.css">
<script src="/../javascripts/landing.js"></script>
<section class="aboutdata">
    <div id="lefttitles" class="abouttitles">
        <h1 class="abouttitle">Manipal Academy Of</h1>
        <h1 class="subtitle">Higher Education</h1>
    </div>
    <div id="leftcontent" class="aboutcontent">
        <div class="leftborder"></div>
        <div class="rightcontent">
            <p>
                Manipal Academy of Higher Education is synonymous with excellence in higher education. Over
                28,000 students from 57 different nations live, learn and play in the sprawling University town,
                nestled on a plateau in Karnataka’s Udupi district. It also has nearly 2500 faculty and almost
                10000 other support and service staff, who cater to the various professional institutions in health
                sciences, engineering, management, communication and humanities which dot the Wi-Fi-
                enabled campus.
            </p>
        </div>
    </div>
    <div id="righttitles" class="abouttitles title2about">
        <h1 class="abouttitle">Manipal</h1>
        <h1 class="subtitle">Marathon</h1>
    </div>
    <div id="rightcontent" class="aboutcontent content2">
        <div class="leftborder"></div>
        <div class="rightcontent">
            <p>
                Manipal Marathon is an annual marathon, which is held in the scenic town of Manipal. Manipal
                Marathon provides its runners, an ultimate road running experience by giving the runners a
                breathtaking journey through the hilly terrain of Manipal and Udupi.  14th February, 2021 will be 
                the fifth iteration of the event, and since the first edition, the enthusiasm of Manipalites has 
                grown leaps and bounds. 
            </p>
            <p>
                Unlike any other marathon, Manipal marathon is a completely student led event. 
                The aim of the marathon is to celebrate the joy of running and help inculcate it among students, 
                who shall be the future pioneers of their respective fields and give talented individuals a platform to 
                showcase their abilities. The various categories, being full marathon (42.195k), half marathon (21.098k), 
                10k, 5k and 3k have been carefully devised in order to fit into every runner’s capability, be it a beginner 
                or a professional.
            </p>
        </div>
    </div>
</section>
{{>slideshow}}
{{>sponsor}}