<section id="faq-section" class="faq-section">
<div class="container container-faq">

    <h2 class="h3-faq">Frequently Asked Questions</h2>
    <h3 class="h2-faq">REGARDING REGISTRATION/ PRE-RACE DAY:</h3>
    <div class="accordion">
        {{#each faq}}
            {{#ifCond this.category "REGISTRATION"}}
                <div class="accordion-item">
                <a>{{this.quest}}</a>
                <div class="content">
                    <p>{{this.answer}}</p>
                </div>
                </div>
            {{/ifCond}}
        {{/each}}
    </div>
    <div class="accordion">
        <div class="accordion-item">
            <a>When is the last date to register?</a>
            <div class="content">
            <table class="table">
                <thead>
                    <tr>
                    <th scope="col">RACE CATEGORY</th>
                    <th scope="col">LAST DATE TO REGISTER</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                    <td>Full marathon</td>
                    <td>25 th January 2020</td>
                    </tr>
                    <tr>
                    <td>Half Marathon</td>
                    <td>25 th January 2020</td>
                    </tr>
                    <tr>
                    <td>10 Km</td>
                    <td>25 th January 2020</td>
                    </tr>
                    <tr>
                    <td>5 Km</td>
                    <td>25 th January 2020</td>
                    </tr>
                    <tr>
                    <td>3 Km</td>
                    <td>25 th January 2020</td>
                    </tr>
                </tbody>
            </table>
            </div>
        </div>
    </div>
    <h3 class="h2-faq">REGARDING THE RACE:</h3>
    <div class="accordion">
        {{#each faq}}
            {{#ifCond this.category "RACE"}}
                <div class="accordion-item">
                <a>{{this.quest}}</a>
                <div class="content">
                    <p>{{this.answer}}</p>
                </div>
                </div>
            {{/ifCond}}
        {{/each}}
    </div>
    <div class="accordion">
        <div class="accordion-item">
            <a>When do the events start?</a>
            <div class="content">
                <table class="table">
                    <thead>
                        <tr>
                        <th scope="col">EVENT</th>
                        <th scope="col">START TIME</th>
                        <th scope="col">VENUE</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                        <td>Full marathon</td>
                        <td>5:15am</td>
                        <td>KMC Greens</td>
                        </tr>
                        <tr>
                        <td>Half Marathon</td>
                        <td>5:30am</td>
                        <td>KMC Greens</td>
                        </tr>
                        <tr>
                        <td>10 Km</td>
                        <td>6:00am</td>
                        <td>KMC Greens</td>
                        </tr>
                        <tr>
                        <td>5 Km</td>
                        <td>6:20am</td>
                        <td>KMC Greens</td>
                        </tr>
                        <tr>
                        <td>3 Km</td>
                        <td>7:15am</td>
                        <td>KMC Greens</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</section>

<script>
        const items = document.querySelectorAll(".accordion a");

        function toggleAccordion(){
        this.classList.toggle('active');
        this.nextElementSibling.classList.toggle('active');
        
        }

        items.forEach(item => item.addEventListener('click', toggleAccordion));
</script>