<script src="https://kit.fontawesome.com/e2ac9cc532.js" crossorigin="anonymous"></script>
<section class="footer">
    <div class="containment">
        <div class="leftfooter">
        <div class="footerlogo">
            <img src="/../images/MM18logo.png" alt="" srcset="">
        </div>
        <div class="leftcontent">
            <div class="leftmap">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3881.9450703400275!2d74.78257381482611!3d13.35369169060604!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bbca4aa3f72b1a3%3A0x42b981198f324669!2sManipal.edu%2C%20Manipal%20Dr%2C%20Madhav%20Nagar%2C%20Manipal%2C%20Karnataka%20576104!5e0!3m2!1sen!2sin!4v1587984918476!5m2!1sen!2sin" width="400" height="350" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
            </div>
            <div class="rightdata">
                <span><i class="fas fa-envelope-square"></i> manipalmarathon@gmail.com</span>
                <span><i class="fas fa-envelope-square"></i> mrcmanipal@gmail.com</span>
                <span><i class="fas fa-mobile"></i>Likhith - +91-1234567890</span>
                <span><i class="fas fa-map-marker-alt"></i>Manipal, Karnataka IN</span>
            </div>
        </div>
        
        </div>
        <div class="rightfooter">
            <div class="usercontact">
                <h1>Contact Us</h1>
                <p>Your Details are safe with us</p>
                <form action="/contactus" class="contactform" method="post">
                    <input type="text" name="name" placeholder="Your Name" id="">
                    <input type="text" name="contact" placeholder="Your Phone Number" id="">
                    <input type="email" name="email" placeholder="Your Email" id="">
                    <textarea name="message" placeholder="Your Message" id="" cols="30" rows="6"></textarea>
                    <button class="contactsubmit" type="submit">Send Message</button>
                </form>
            </div>
        </div>
    </div>
    <span><small>© Manipal Marathon 2020-2021 | Designed & Developed by Abhishek Malakar</small></span>
</section>