<link rel="stylesheet" href="/../stylesheets/header.css">

<div class="wrapper">
    <header>
        <nav class="{{#if notMain }}scroller{{else}}main{{/if}}">
            <div class="menu-icon">
                <i class="fa fa-bars fa-2x"></i>
            </div>
            <div class="header_logo show">
            </div>
            <div>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li class="dropdown"><a href="/#following_section" id="gotoabout">About</a>
                    <i class="fa fa-angle-double-down" aria-hidden="true"></i>
                        <div class="dropdown-content">
                            <a href="/pastraces">Previous Marathons</a>
                        </div>
                    </li>
                    {{!-- <li><a href="/register">Register</a></li> --}}
                    {{!-- <li><a href="/prizes" id="gotoabout">Prizes</a></li> --}}
                    {{!-- <li><a href="/prizes">Prizes</a></li> --}}
                    <li><a href="/#footer">Contact</a></li>
                    <li><a href="/results">Results</a></li>
                    <li id="sponsor-button"><a>Sponsors</a></li>
                    <li class="dropdown"><a href="/run/#following_section" id="gotoabout">Organisers</a>
                    <i class="fa fa-angle-double-down" aria-hidden="true"></i>
                        <div class="dropdown-content">
                            <a href="/organiser">MRC</a><br>
                            <a id="vso-button">VSO</a>
                        </div>
                    </li>
                    {{!-- <li><a href="/#footer">FAQ</a></li> --}}
                    {{!-- <li><a href="/#footer">Sponsors</a></li> --}}
                    <li class="dropdown"><a>Run Info</a>
                    <i class="fa fa-angle-double-down" aria-hidden="true"></i>
                        <div class="dropdown-content">
                            <a href="/race-info">Race Info</a><br>
                            <a href="/training">Training</a><br>
                            {{!-- <a id="faq-button">FAQ</a><br> --}}
                            <a href="/prizes/certificates">AIMS Certificates</a><br>
                            {{!-- <a href="#">Run Support</a><br>
                            <a href="#">Preperation</a><br>
                            <a href="#">FAQ</a><br>
                            <a href="#">Our Volunteers</a> --}}
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
</div>