<br>
            <br>
            <h1 class="cd-heading">STRENGTH TRAINING</h1>
            <p class="cd-para">It is advised to do basic strength training exercises such as plank, pushup,squat, lunges, back extensions,glute bridges and calf raises.</p>        <p class="cd-para">Do atleast 1 strength training session per week.</p>
            <div class="container container-weeks">
                <div class="weeks-row">
                            {{!-- Sample Training --}}
                                <div class="card-week card">
                                    <div class="title">
                                        <h2>Strength Training</h2>
                                    </div>
                                    <div class="option">
                                        <table class="table">
                                            <thead>
                                            <tr>
                                                <th>Type</th>
                                                <th>Set</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                <td>Pushup</td>
                                                <td>
                                                    8 reps X 3 sets
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Squat</td>
                                                <td>12 reps X 3 sets</td>
                                            </tr>
                                            <tr>
                                                <td>Elbow plank</td>
                                                <td>30sec hold X 4 sets</td>
                                            </tr>
                                            <tr>
                                                <td>Lunges</td>
                                                <td>10 per leg X 3 sets</td>
                                            </tr>
                                            <tr>
                                                <td>Glute bridges</td>
                                                <td>
                                                    12 reps X 3 sets
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Back Extension</td>
                                                <td>10 reps X 3 sets</td>
                                            </tr>
                                            <tr>
                                                <td>Calf raises</td>
                                                <td>14 reps X 3 sets</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            {{!-- End of Sample Training --}}
                </div>
            </div>
        </div>