<div class="cd-modal" id="modal4window">
        <div class="modal-content">
            <h1 class="cd-heading">6 Week 42k Run Training</h1>
            <p class="cd-para">
                Before running, always do a light warmup and dynamic movements for the legs.
                <br>
            </p>
            <div class="container container-weeks">
                <div class="weeks-row">
                    {{!-- Week 1 --}}
                    <div class="card-week card">
                        <div class="title">
                            <i class="fa fa-calendar-o"></i>
                            <h2>Week 1</h2>
                        </div>
                        <div class="option">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>Day</th>
                                    <th>Run</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>Monday</td>
                                    <td>Rest</td>
                                </tr>
                                <tr>
                                    <td>Tuesday</td>
                                    <td>Easy 5Km + 2Km Steady Pace</td>
                                </tr>
                                <tr>
                                    <td>Wednesday</td>
                                    <td>
                                        10Km Easy Run
                                    </td>
                                </tr>
                                <tr>
                                    <td>Thursday</td>
                                    <td>Strength Training</td>
                                </tr>
                                <tr>
                                    <td>Friday</td>
                                    <td>
                                        tempo run<br>
                                        15mins warm up (WU)<br>
                                        25 mins tempo run<br>
                                        15 mins cool down (CD)
                                    </td>
                                </tr>
                                <tr>
                                    <td>Saturday</td>
                                    <td>Rest</td>
                                </tr>
                                <tr>
                                    <td>Sunday</td>
                                    <td>20Km Easy</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    {{!-- End of Week 1 --}}
                    {{!-- Week 2 --}}
                    <div class="card-week card">
                        <div class="title">
                            <i class="fa fa-calendar-o"></i>
                            <h2>Week 2</h2>
                        </div>
                        <div class="option">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>Day</th>
                                    <th>Run</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>Monday</td>
                                    <td>
                                        Rest
                                    </td>
                                </tr>
                                <tr>
                                    <td>Tuesday</td>
                                    <td>8Km Easy Run</td>
                                </tr>
                                <tr>
                                    <td>Wednesday</td>
                                    <td>
                                        tempo run<br>
                                        15mins warm up (WU)<br>
                                        25 mins tempo run<br>
                                        15 mins cool down (CD)
                                    </td>
                                </tr>
                                <tr>
                                    <td>Thursday</td>
                                    <td>Rest</td>
                                </tr>
                                <tr>
                                    <td>Friday</td>
                                    <td>Strength Training</td>
                                </tr>
                                <tr>
                                    <td>Saturday</td>
                                    <td>7km easy run</td>
                                </tr>
                                <tr>
                                    <td>Sunday</td>
                                    <td>25Km Easy</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    {{!-- End of Week 2 --}}
                    {{!-- Week 3 --}}
                    <div class="card-week card">
                        <div class="title">
                            <i class="fa fa-calendar-o"></i>
                            <h2>Week 3</h2>
                        </div>
                        <div class="option">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>Day</th>
                                    <th>Run</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>Monday</td>
                                    <td>
                                        Rest
                                    </td>
                                </tr>
                                <tr>
                                    <td>Tuesday</td>
                                    <td>easy 7k + steady 3k</td>
                                </tr>
                                <tr>
                                    <td>Wednesday</td>
                                    <td>
                                        Strength Training
                                    </td>
                                </tr>
                                <tr>
                                    <td>Thursday</td>
                                    <td>Easy 10Km</td>
                                </tr>
                                <tr>
                                    <td>Friday</td>
                                    <td>
                                        tempo run<br>
                                        15mins WU<br>
                                        35 mins tempo run<br>
                                        15 CD
                                    </td>
                                </tr>
                                <tr>
                                    <td>Saturday</td>
                                    <td>Rest</td>
                                </tr>
                                <tr>
                                    <td>Sunday</td>
                                    <td>30Km Easy</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    {{!-- End of Week 3 --}}
                    {{!-- Week 4 --}}
                    <div class="card-week card">
                        <div class="title">
                            <i class="fa fa-calendar-o"></i>
                            <h2>Week 4</h2>
                        </div>
                        <div class="option">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>Day</th>
                                    <th>Run</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>Monday</td>
                                    <td>
                                        Rest
                                    </td>
                                </tr>
                                <tr>
                                    <td>Tuesday</td>
                                    <td>12Km Easy Run</td>
                                </tr>
                                <tr>
                                    <td>Wednesday</td>
                                    <td>
                                        Strength Training
                                    </td>
                                </tr>
                                <tr>
                                    <td>Thursday</td>
                                    <td>9Km Easy Run</td>
                                </tr>
                                <tr>
                                    <td>Friday</td>
                                    <td>
                                        speed workout<br>
                                        15 mins WU<br>
                                        1 mile*4<br>
                                        15 mins CD
                                    </td>
                                </tr>
                                <tr>
                                    <td>Saturday</td>
                                    <td>Rest</td>
                                </tr>
                                <tr>
                                    <td>Sunday</td>
                                    <td>32Km Easy</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    {{!-- End of Week 4 --}}
                    {{!-- Week 5 --}}
                    <div class="card-week card">
                        <div class="title">
                            <i class="fa fa-calendar-o"></i>
                            <h2>Week 5</h2>
                        </div>
                        <div class="option">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>Day</th>
                                    <th>Run</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>Monday</td>
                                    <td>
                                        Rest
                                    </td>
                                </tr>
                                <tr>
                                    <td>Tuesday</td>
                                    <td>easy 9k + 100m strides *5</td>
                                </tr>
                                <tr>
                                    <td>Wednesday</td>
                                    <td>
                                        Strength Training
                                    </td>
                                </tr>
                                <tr>
                                    <td>Thursday</td>
                                    <td>Easy 15Km</td>
                                </tr>
                                <tr>
                                    <td>Friday</td>
                                    <td>
                                        tempo run<br>
                                        15mins WU<br>
                                        25 mins tempo<br>
                                        15 mins CD
                                    </td>
                                </tr>
                                <tr>
                                    <td>Saturday</td>
                                    <td>Rest</td>
                                </tr>
                                <tr>
                                    <td>Sunday</td>
                                    <td>20Km Easy</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    {{!-- End of Week 5 --}}
                    {{!-- Week 6 --}}
                    <div class="card-week card">
                        <div class="title">
                            <i class="fa fa-calendar-o"></i>
                            <h2>Week 6</h2>
                        </div>
                        <div class="option">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>Day</th>
                                    <th>Run</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>Monday</td>
                                    <td>
                                        Rest
                                    </td>
                                </tr>
                                <tr>
                                    <td>Tuesday</td>
                                    <td>7Km Easy Run</td>
                                </tr>
                                <tr>
                                    <td>Wednesday</td>
                                    <td>
                                        tempo run<br>
                                        15 mins WU<br>
                                        15 mins tempo<br>
                                        15 mins CD
                                    </td>
                                </tr>
                                <tr>
                                    <td>Thursday</td>
                                    <td>Rest</td>
                                </tr>
                                <tr>
                                    <td>Friday</td>
                                    <td>
                                        Easy 5Km + 100m strides * 4
                                    </td>
                                </tr>
                                <tr>
                                    <td>Saturday</td>
                                    <td>Rest Day</td>
                                </tr>
                                <tr>
                                    <td>Sunday</td>
                                    <td>Manipal Marathon 2020 Full marathon</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    {{!-- End of Week 6 --}}
                </div>
            </div>
            {{>modal-strength}}
        <a href="" class="modal-close cd-link" id="modal-4-close"></a>
    </div>