<div class="cd-modal" id="cd-modal">
        <div class="modal-content">
            <h1 class="cd-heading">4 Week 5k Run Training</h1>
            <p class="cd-para">
                Before running, always do a light warmup and dynamic movements for the legs.
                <br>
                Note:
                <ul style="display:flex; justify-content:center; align-items:center; flex-direction:column">
                    <li>Jog = Easy pace</li>
                    <li>Run = Fast pace</li>
                </ul>
            </p>
            <div class="container container-weeks">
                <div class="weeks-row">
                    <div style="display: none" class="row1trig"></div>
                    {{!-- Week 1 --}}
                    <div class="card-week card">
                        <div class="title">
                            <i class="fa fa-calendar-o"></i>
                            <h2>Week 1</h2>
                        </div>
                        <div class="option">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>Day</th>
                                    <th>Run</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>Monday</td>
                                    <td>1Km Jog</td>
                                </tr>
                                <tr>
                                    <td>Tuesday</td>
                                    <td>Rest</td>
                                </tr>
                                <tr>
                                    <td>Wednesday</td>
                                    <td>1.5Km Jog</td>
                                </tr>
                                <tr>
                                    <td>Thursday</td>
                                    <td>Rest</td>
                                </tr>
                                <tr>
                                    <td>Friday</td>
                                    <td>2Km Jog</td>
                                </tr>
                                <tr>
                                    <td>Saturday</td>
                                    <td>Rest</td>
                                </tr>
                                <tr>
                                    <td>Sunday</td>
                                    <td>Rest</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    {{!-- End of Week 1 --}}
                    {{!-- Week 2 --}}
                    <div class="card-week card">
                        <div class="title">
                            <i class="fa fa-calendar-o"></i>
                            <h2>Week 2</h2>
                        </div>
                        <div class="option">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>Day</th>
                                    <th>Run</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>Monday</td>
                                    <td>
                                        Interval Training<br>
                                        Run 500m – walk 500m<br>
                                        Repeat 3 times.
                                    </td>
                                </tr>
                                <tr>
                                    <td>Tuesday</td>
                                    <td>Rest</td>
                                </tr>
                                <tr>
                                    <td>Wednesday</td>
                                    <td>1.5Km Jog</td>
                                </tr>
                                <tr>
                                    <td>Thursday</td>
                                    <td>Rest</td>
                                </tr>
                                <tr>
                                    <td>Friday</td>
                                    <td>2.5Km Jog</td>
                                </tr>
                                <tr>
                                    <td>Saturday</td>
                                    <td>Rest</td>
                                </tr>
                                <tr>
                                    <td>Sunday</td>
                                    <td>Rest</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    {{!-- End of Week 2 --}}
                    {{!-- Week 3 --}}
                    <div class="card-week card">
                        <div class="title">
                            <i class="fa fa-calendar-o"></i>
                            <h2>Week 3</h2>
                        </div>
                        <div class="option">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>Day</th>
                                    <th>Run</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>Monday</td>
                                    <td>
                                        3Km Jog
                                    </td>
                                </tr>
                                <tr>
                                    <td>Tuesday</td>
                                    <td>Rest</td>
                                </tr>
                                <tr>
                                    <td>Wednesday</td>
                                    <td>2Km Jog</td>
                                </tr>
                                <tr>
                                    <td>Thursday</td>
                                    <td>Rest</td>
                                </tr>
                                <tr>
                                    <td>Friday</td>
                                    <td>
                                        Interval training<br>
                                        Run 1km – Walk 500m<br>
                                        Repeat 3 times.
                                    </td>
                                </tr>
                                <tr>
                                    <td>Saturday</td>
                                    <td>Rest</td>
                                </tr>
                                <tr>
                                    <td>Sunday</td>
                                    <td>Rest</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    {{!-- End of Week 3 --}}
                    {{!-- Week 4 --}}
                    <div class="card-week card">
                        <div class="title">
                            <i class="fa fa-calendar-o"></i>
                            <h2>Week 4</h2>
                        </div>
                        <div class="option">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>Day</th>
                                    <th>Run</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>Monday</td>
                                    <td>
                                        2Km Jog
                                    </td>
                                </tr>
                                <tr>
                                    <td>Tuesday</td>
                                    <td>Rest</td>
                                </tr>
                                <tr>
                                    <td>Wednesday</td>
                                    <td>2Km Jog</td>
                                </tr>
                                <tr>
                                    <td>Thursday</td>
                                    <td>1Km Jog</td>
                                </tr>
                                <tr>
                                    <td>Friday</td>
                                    <td>
                                        Rest
                                    </td>
                                </tr>
                                <tr>
                                    <td>Saturday</td>
                                    <td>Rest</td>
                                </tr>
                                <tr>
                                    <td>Sunday</td>
                                    <td>Manipal Marathon 2020</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    {{!-- End of Week 4 --}}
                </div>
            </div>
            {{>modal-strength}}
        <a href="" class="modal-close cd-link"></a>
    </div>