<div class="cd-modal" id="modal3window">
        <div class="modal-content">
            <h1 class="cd-heading">6 Week 21k Run Training</h1>
            <p class="cd-para">
                Before running, always do a light warmup and dynamic movements for the legs.
                <br>
            </p>
            <div class="container container-weeks">
                <div class="weeks-row">
                    {{!-- Week 1 --}}
                    <div class="card-week card">
                        <div class="title">
                            <i class="fa fa-calendar-o"></i>
                            <h2>Week 1</h2>
                        </div>
                        <div class="option">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>Day</th>
                                    <th>Run</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>Monday</td>
                                    <td>Rest</td>
                                </tr>
                                <tr>
                                    <td>Tuesday</td>
                                    <td>7Km Easy Run</td>
                                </tr>
                                <tr>
                                    <td>Wednesday</td>
                                    <td>
                                        Speed Workout<br>
                                        15 mins warm up (Wu)<br>
                                        5 mins steady pace + 3 mins recovery * 3<br>
                                        15 mins cool down (CD)
                                    </td>
                                </tr>
                                <tr>
                                    <td>Thursday</td>
                                    <td>6Km Easy Run</td>
                                </tr>
                                <tr>
                                    <td>Friday</td>
                                    <td>Strength Training</td>
                                </tr>
                                <tr>
                                    <td>Saturday</td>
                                    <td>Rest</td>
                                </tr>
                                <tr>
                                    <td>Sunday</td>
                                    <td>8Km Easy</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    {{!-- End of Week 1 --}}
                    {{!-- Week 2 --}}
                    <div class="card-week card">
                        <div class="title">
                            <i class="fa fa-calendar-o"></i>
                            <h2>Week 2</h2>
                        </div>
                        <div class="option">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>Day</th>
                                    <th>Run</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>Monday</td>
                                    <td>
                                        Rest
                                    </td>
                                </tr>
                                <tr>
                                    <td>Tuesday</td>
                                    <td>8Km Easy Run</td>
                                </tr>
                                <tr>
                                    <td>Wednesday</td>
                                    <td>
                                        tempo run<br>
                                        15 mins WU<br>
                                        25 mins tempo<br>
                                        15 mins CD
                                    </td>
                                </tr>
                                <tr>
                                    <td>Thursday</td>
                                    <td>Rest</td>
                                </tr>
                                <tr>
                                    <td>Friday</td>
                                    <td>Strength Training</td>
                                </tr>
                                <tr>
                                    <td>Saturday</td>
                                    <td>5km easy run + 100m strides * 4</td>
                                </tr>
                                <tr>
                                    <td>Sunday</td>
                                    <td>11Km Easy</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    {{!-- End of Week 2 --}}
                    {{!-- Week 3 --}}
                    <div class="card-week card">
                        <div class="title">
                            <i class="fa fa-calendar-o"></i>
                            <h2>Week 3</h2>
                        </div>
                        <div class="option">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>Day</th>
                                    <th>Run</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>Monday</td>
                                    <td>
                                        Rest
                                    </td>
                                </tr>
                                <tr>
                                    <td>Tuesday</td>
                                    <td>8Km Easy Run</td>
                                </tr>
                                <tr>
                                    <td>Wednesday</td>
                                    <td>
                                        speed workout<br>
                                        15 mins WU<br>
                                        800 m speed + 400 m recovery*6<br>
                                        15 mins CD
                                    </td>
                                </tr>
                                <tr>
                                    <td>Thursday</td>
                                    <td>Rest</td>
                                </tr>
                                <tr>
                                    <td>Friday</td>
                                    <td>
                                        Strength Training
                                    </td>
                                </tr>
                                <tr>
                                    <td>Saturday</td>
                                    <td>Easy 7Km + 100m strides * 6</td>
                                </tr>
                                <tr>
                                    <td>Sunday</td>
                                    <td>15Km Easy</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    {{!-- End of Week 3 --}}
                    {{!-- Week 4 --}}
                    <div class="card-week card">
                        <div class="title">
                            <i class="fa fa-calendar-o"></i>
                            <h2>Week 4</h2>
                        </div>
                        <div class="option">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>Day</th>
                                    <th>Run</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>Monday</td>
                                    <td>
                                        Rest
                                    </td>
                                </tr>
                                <tr>
                                    <td>Tuesday</td>
                                    <td>9Km Easy Run</td>
                                </tr>
                                <tr>
                                    <td>Wednesday</td>
                                    <td>
                                        tempo run<br>
                                        15 mins WU<br>
                                        35 mins tempo run<br>
                                        15 mins CD
                                    </td>
                                </tr>
                                <tr>
                                    <td>Thursday</td>
                                    <td>Rest</td>
                                </tr>
                                <tr>
                                    <td>Friday</td>
                                    <td>
                                        Strength Training
                                    </td>
                                </tr>
                                <tr>
                                    <td>Saturday</td>
                                    <td>7Km Easy Run</td>
                                </tr>
                                <tr>
                                    <td>Sunday</td>
                                    <td>17Km Easy</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    {{!-- End of Week 4 --}}
                    {{!-- Week 5 --}}
                    <div class="card-week card">
                        <div class="title">
                            <i class="fa fa-calendar-o"></i>
                            <h2>Week 5</h2>
                        </div>
                        <div class="option">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>Day</th>
                                    <th>Run</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>Monday</td>
                                    <td>
                                        Rest
                                    </td>
                                </tr>
                                <tr>
                                    <td>Tuesday</td>
                                    <td>5Km Easy Run</td>
                                </tr>
                                <tr>
                                    <td>Wednesday</td>
                                    <td>
                                        tempo run<br>
                                        15 mins WU<br>
                                        20 mins tempo run<br>
                                        15 mins CD
                                    </td>
                                </tr>
                                <tr>
                                    <td>Thursday</td>
                                    <td>Rest</td>
                                </tr>
                                <tr>
                                    <td>Friday</td>
                                    <td>
                                        Strength Training
                                    </td>
                                </tr>
                                <tr>
                                    <td>Saturday</td>
                                    <td>Easy 5k+ 100m strides * 5</td>
                                </tr>
                                <tr>
                                    <td>Sunday</td>
                                    <td>12Km Easy</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    {{!-- End of Week 5 --}}
                    {{!-- Week 6 --}}
                    <div class="card-week card">
                        <div class="title">
                            <i class="fa fa-calendar-o"></i>
                            <h2>Week 6</h2>
                        </div>
                        <div class="option">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>Day</th>
                                    <th>Run</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>Monday</td>
                                    <td>
                                        Rest
                                    </td>
                                </tr>
                                <tr>
                                    <td>Tuesday</td>
                                    <td>6Km Easy Run</td>
                                </tr>
                                <tr>
                                    <td>Wednesday</td>
                                    <td>
                                        tempo run<br>
                                        15 mins WU<br>
                                        10 mins tempo run<br>
                                        15 mins CD
                                    </td>
                                </tr>
                                <tr>
                                    <td>Thursday</td>
                                    <td>Rest</td>
                                </tr>
                                <tr>
                                    <td>Friday</td>
                                    <td>
                                        Easy 5Km + 100m strides * 6
                                    </td>
                                </tr>
                                <tr>
                                    <td>Saturday</td>
                                    <td>Rest Day</td>
                                </tr>
                                <tr>
                                    <td>Sunday</td>
                                    <td>Manipal Marathon 2020 Half marathon</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    {{!-- End of Week 6 --}}
                </div>
            </div>
            {{>modal-strength}}
        <a href="" class="modal-close cd-link" id="modal-3-close"></a>
    </div>