<section class="newlanding">
    <div class="topnewlanding">
        <div class="titles">
            <div class="titlediv">
                Manipal Marathon 2021
            </div>
            <div class="subtitlediv">
                14th February 2021
            </div>
        </div>
        <div class="avatardiv">
            <img src="/../images/landing/mmman.png" alt="" class="landingavatar">
        </div>
    </div>
    <div class="bottomselectorslanding">
        <div class="racetypediv fortytwo">
            <div class="racecontent">
                <h1>42 K</h1>
                <p>Full Marathon</p>
            </div>
        </div>
        <div class="racetypediv twentyone">
            <div class="racecontent">
                <h1>21 K</h1>
                <p>Half Marathon</p>
            </div>
        </div>
        <div class="racetypediv ten">
            <div class="racecontent">
                <h1>10 K</h1>
                <p>Manipal Marathon</p>
            </div>
        </div>
        <div class="racetypediv five">
            <div class="racecontent">
                <h1>5 K</h1>
                <p>Manipal Marathon</p>
            </div>
        </div>
        <div class="racetypediv three">
            <div class="racecontent">
                <h1>3 K</h1>
                <p>Fun Run</p>
            </div>
        </div>
    </div>
</section>