<section class="sponsors" id="sponsors">
    <h1 class="cd-heading">Our Previous Sponsors</h1>
    <div class="container">
        <img src="../images/SPONSOR/1.png" alt="" class="sponsor_logo icici">
        <hr>
        <img src="../images/SPONSOR/2.png" alt="" class="sponsor_logo">
        <img src="../images/SPONSOR/3.png" alt="" class="sponsor_logo">
        <img src="../images/SPONSOR/4.png" alt="" class="sponsor_logo">
        <img src="../images/SPONSOR/5.png" alt="" class="sponsor_logo">
        <img src="../images/SPONSOR/7.png" alt="" class="sponsor_logo">
        <br>
        <img src="../images/SPONSOR/8.jpg" alt="" class="sponsor_logo bp">
    </div>
    <hr>
</section>
