<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="Manipal Marathon is an annual marathon, which is held in the scenic town of Manipal.">
    <meta name="keywords" content="Manipal Marathon, Manipal, Marathon, marathon, manipal, running, runners, 42k, 21k, 10k,5k,3k, full marathon in manipal, full marathon, half marathon in manipal, half marathon, marathon in manipal, marathon manipal">
    <meta property="og:title" content="Manipal Marathon 2020" />
    <meta property="og:url" content="https://www.manipalmarathon.in" />
    <meta property="og:description" content="Manipal Marathon is an annual marathon, which is held in the scenic town of Manipal.">
    <meta property="og:image" content="https://scontent-bom1-1.xx.fbcdn.net/v/t1.0-9/p960x960/33660434_1508302042615343_7498763395575840768_o.jpg?_nc_cat=102&_nc_ohc=bncQhDLUonAAQlez_lKIUB7hjBM9TLOUEnQc7qPz75S-RenHFVRUwIhbQ&_nc_ht=scontent-bom1-1.xx&oh=ad22fb3d5f032791391721d4d84040f4&oe=5E8C8ED9">
    
    <title>{{ pageTitle }}</title>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-153555359-1">
    </script>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-153555359-1');
    </script>
    <link rel="shortcut icon" type="image/png" href="/../images/mm_fav.png"/>
    <link rel="stylesheet" href="/../stylesheets/landing.css">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/../stylesheets/style.css">
    <link rel="stylesheet" href="/../stylesheets/footer.css">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="/../javascripts/landing.js"></script>
    <script src="/../javascripts/header.js"></script>
    {{!-- <script src="/../javascripts/animations.js"></script> --}}
    <link href="https://fonts.googleapis.com/css?family=Monoton&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/../stylesheets/race-info.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.0/css/swiper.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.0/css/swiper.min.css">  
    <link href="https://fonts.googleapis.com/css?family=Marko+One&display=swap" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.2/js/swiper.jquery.min.js"></script>
    <script src="https://rawgit.com/cfoehrdes/slick/master/slick/slick.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript"></script>
    <script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Event",
  "name": "Manipal Marathon 2020",
  "startDate": "2020-02-09T05:15",
  "endDate": "2020-02-09T23:59",
  "location": {
    "@type": "Place",
    "name": "Tiger Circle Road",
    "address": {
      "@type": "PostalAddress",
      "streetAddress": "Tiger Circle Road, Madhav Nagar",
      "addressLocality": "Manipal, Karnataka",
      "postalCode": "567104",
      "addressRegion": "KA",
      "addressCountry": "IN"
    }
  },
  "image": [
    "../images/events-logo/logo1.png",
    "../images/events-logo/logo4.png",
    "../images/events-logo/logo16.png"
   ],
  "description": "Manipal Marathon is an annual marathon, which is held in the scenic town of Manipal. Manipal Marathon provides its runners, an ultimate road running experience by giving the runners a breathtaking journey through the hilly terrain of Manipal and Udupi. 9th February, 2020 will be the fourth iteration of the event, and since the first edition, the enthusiasm of Manipalites has grown leaps and bounds",
  "offers": {
    "@type": "Offer",
    "url": "https://manipalmarathon.in/register",
    "price": "999",
    "priceCurrency": "INR",
    "validFrom": "2019-12-17T12:00"
  },
}
</script>
</head>
<body>
    {{> header}}
    {{{ body }}}
    {{> footer}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.0/js/swiper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.0/js/swiper.js"></script>
<script src="/../javascripts/race-info.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TweenMax.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TimelineMax.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/ScrollMagic.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/plugins/animation.gsap.min.js"></script>
</body>
</html>