<link rel="stylesheet" href="../stylesheets/certs.css">

<section class="certificates">

<h1>AIMS Manipal Marathon 2020 Certificates</h1>

<div ontouchstart="" class="certs-wrapper">

    

        <div class="row">
            <div id="cert-half" class="effect8 container cert-to-click">
                <img src="/../images/certificates/mmhalf.png" alt="">
                <div class="caption">
                    <h2>Manipal Marathon 2020 Half Marathon</h2>
                </div>
            </div>
            <div id="mmhalf" class="overlay-cert">
                <img src="/../images/certificates/mmhalf.png" alt="">
            </div>

            <div id="cert-full" class="effect9 container cert-to-click">
                <img src="/../images/certificates/mm42.png" alt="">
                <div class="caption">
                    <h2>Manipal Marathon 2020 Full Marathon</h2>
                </div>
            </div>
            <div id="mmfull" class="overlay-cert">
                <img src="/../images/certificates/mm42.png" alt="">
            </div>
        </div>


    

</div>

</section>


<script>
    $('#cert-half').click(function(){
          $('#mmhalf').css({"display":"block"});
      });

      $('#cert-full').click(function(){
          $('#mmfull').css({"display":"block"});
      });

      $('.overlay-cert').click(function(){
          $('.overlay-cert').css({"display":"none"});
      });
</script>