<link rel="stylesheet" href="../stylesheets/organiser.css">
{{!-- <script src="../javascripts/organisers.js"></script> --}}
<section class="sec1">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcS3Izb7RWT0BQn818Y1L0Z3zz014DUvlkltVCVdwOakdU0aE6Y6" class="logo">
    <h1>Manipal Runners Club</h1>
</section>
{{!-- <section class="sec2">
<div class="container og-card-container">
    {{#each organisers}}
        <div class="card">
            <div class="face face1">
                <img src="{{this.imageUrl}}">
            </div>
            <div class="face face2">
                <div class="content">
                    <h2>{{this.name}}</h2>
                    <p>{{this.description}}</p>

                </div>
            </div>
        </div> 
        <div class="card middle">
            <div class="front">
                <img src="{{this.imageUrl}}" alt="">
            </div>
            <div class="back">
                <div class="back-content">
                    <h2>{{this.name}}</h2>
                    <br>
                    <span>{{this.description}}</span>
                </div>
            </div>
        </div>
    {{/each}}
    <p>
        Four years back, MRC was started by former students and passionate runners, who till date
        keeps inspiring their fellow runners. The club was started with the objective of inculcating the art
        of running into the daily routine of maximum number of people.
    </p>
    <p>
        MRC organizes runs to various destinations like beaches, bridges and multiple scenic locations.
        The club attracts people from all walks of life, ranging from undergraduates, to graduates, to
        local residents and even professors. MRC is an open platform for both marathoners as well as
        first timers to come together, celebrate the joy of running and make the best of friends in the
        process.
    </p>
    <p>
        With every passing year, MRC strives to organize a better marathon in order to promote
        running, give talented individuals a platform to showcase their potential, and encourage
        maximum number of people to take up running as a way of life!
    </p>
</div>
</section>
--}}
<section class="sec4" id="mrc-section">
    <h2>Manipal Runners Club (MRC)</h2>
    <p>
        Four years back, MRC was started by former students and passionate runners, who till date
        keeps inspiring their fellow runners. The club was started with the objective of inculcating the art
        of running into the daily routine of maximum number of people.
    </p>
    <p>
        MRC organizes runs to various destinations like beaches, bridges and multiple scenic locations.
        The club attracts people from all walks of life, ranging from undergraduates, to graduates, to
        local residents and even professors. MRC is an open platform for both marathoners as well as
        first timers to come together, celebrate the joy of running and make the best of friends in the
        process.
    </p>
    <p>
        With every passing year, MRC strives to organize a better marathon in order to promote
        running, give talented individuals a platform to showcase their potential, and encourage
        maximum number of people to take up running as a way of life!
    </p>
    <a href="https://instagram.com/manipalrunnersclub?igshid=1w6acwgwij91g" class="btn">Visit Us</a>
</section>
<section class="sec3">
    <img src="../images/vso.png" class="logo-vso">
</section>
<section class="sec4" id="vso-section">
<h2>Volunteer Services Organization (VSO)</h2>
<p>
    Volunteer Services Organization (VSO) is the brainchild of
    Dr Raj. P. Warrier, Former Vice Chancellor, Manipal
    Academy of Higher Education and was born on
    September 17th, 2007.
</p>
<p>
    VSO was initiated to provide an opportunity to students
    to serve the society. It is presently guided by the honorary
    chairman, Dr. H Vinod Bhat, Vice Chancellor, MAHE.
</p>
<p>
    With volunteers strength of more than 3500 (including
    students, faculty &amp; their spouse), VSO undertakes
    projects which cover community, organizational and soft
    skills avenues. Projects are also planned in collaboration
    with the clubs/organizations of the constituent colleges
    of MAHE and executed with the support from Deemed University
</p>

<h2>Mission</h2>

<p>
    VSO aims to develop the spirit of selfless service by
    responding to the community&#39;s needs, addressing the
    issues of society, and developing the leadership and
    learning skills of the volunteers.

    Students, faculty, and staff strive to ameliorate the
    conditions of the impoverished and the less fortunate.
    We come together in hopes of forging a path to a better
    Society.
</p>

<a href="http://vso.manipal.edu/" class="btn">Visit Us</a>
</section>
<section class="sec5"></section>