<meta name="_csrf" content="{{csrfToken}}">
<link rel="stylesheet" href="../stylesheets/paytm.css">
<section class="paymentsection">
    <h1>Confirmation Data</h1>
  <div id="loader">
    <svg class="loader" viewBox="0 0 120 120" xmlns="http://www.w3.org/2000/svg">
      <circle class="internal-circle" cx="60" cy="60" r="30"></circle>
      <circle class="external-circle" cx="60" cy="60" r="50"></circle>
    </svg>
    Loading...
  </div>
  {{!-- <input type="hidden" name="csrfToken" type="hidden" value="{{csrfToken}}"> --}}
  <div id="out"></div>
  <script>
    let orderid = new URLSearchParams(window.location.search).get("oid");
    let done = false;
    var token = document.querySelector('meta[name="_csrf"]').getAttribute('content')
    start();

    function start() {
      if (done) return;
      fetchAndRender();
      setTimeout(start, 5000);
    }

    function fetchAndRender() {
      console.log(token);
      fetch(`http://localhost:3000/getTxnStatus`, {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
            'X-CSRF-TOKEN': token
          },
          body: JSON.stringify({
            orderid
          }),
        })
        .then(resp => resp.json())
        .then(data => {
          let txn = data.txn;
          if (!txn) return;
          let shown = [
            "Order_Id",
            "amount_paid",
            "Contact",
            "Email",
            "paytmid",
            "banktxnid",
            "status"
          ];
          console.log(txn);
          if (txn.status !== "PENDING" && txn.status !== "OPEN") {
            done = true;
            document.querySelector("#out").innerHTML = Object.keys(txn)
              .filter(key => shown.includes(key))
              .reduce(
                (a, c) =>
                a +
                `<div class="row"><span>${c.replace("_", " ")}:</span><span>${
                    c === 'status' ? txn[c].toUpperCase().replace('TXN_', '') : txn[c]
                  }</span></div>`,
                ""
              );
            try{
              window.webkit.messageHandlers.paymentHandle.postMessage(
                JSON.stringify({
                  "order_id" : txn["Order_Id"],
                  "amount_paid" : txn["amount_paid"],
                  "mobile" : txn["Contact"],
                  "email" : txn["Email"],
                  "paytmid" : txn["paytmid"],
                  "banktxnid" : txn["banktxnid"],
                  "status" : txn["status"]
                })
              );
            }catch(app_err){}
          }
          document.querySelector('#loader').style.display="none";
          document.querySelector('#out').style.display="block";
          document.querySelector('a').style.display="table";
        });
    }
  </script>
</section>
