<link rel="stylesheet" href="../stylesheets/prev.css">
<section class="following_section" id="following_section">
<div class="shadow_divider"></div>
{{!-- <div class="about-container container">
    <div class="info container">
        <div class="content">
            <h1 class="info-header">About Manipal Marathon</h1>
            <p class="info-content">
                Manipal Marathon is an annual marathon, which is held in the scenic town of Manipal. Manipal
                Marathon provides its runners, an ultimate road running experience by giving the runners a
                breathtaking journey through the hilly terrain of Manipal and Udupi.  9th February, 2020 will be the fourth iteration of the event, and since the first edition, the enthusiasm of Manipalites has grown leaps and bounds.

                Unlike any other marathon, Manipal marathon is a completely student led event. The aim of the marathon is to celebrate the joy of running and help inculcate it among students, who shall be the future pioneers of their respective fields and give talented individuals a platform to showcase their abilities. 
                The various categories, being half marathon (21.098k), 10k, 5k and 3k have been carefully devised in order to fit into every runner’s capability, be it a beginner or a professional.
            </p>
            <a href="/" class="btn btn-primary kmbtn">Know More</a>
        </div>
    </div>
    <div class="about-bg-diagonal-divider"></div>
</div> --}}
{{!-- <div class="about-full container">
    <div class="about-mrc">
        <div class="image-mrc">
        </div>
        <div class="about-mrc-text">
            <h1>Manipal Runners Club</h1>
            <p>Four years back, MRC was started by former students  and passionate runners, who till
                date keeps inspiring their fellow runners. The club was started with the objective of inculcating the art of
                running into the daily routine of maximum number of people.
            </p>
            <p>
                MRC organizes runs to various destinations like beaches, bridges and multiple scenic locations. The club
                attracts people from all walks of life, ranging from undergraduates, to graduates, to local residents and
                even professors. MRC is an open platform for both marathoners as well as first timers to come together,
                celebrate the joy of running and make the best of friends in the process.
            </p>
            <p>
                With every passing year, MRC strives to organize a better marathon in order to promote running, give
                talented individuals a platform to showcase their potential, and encourage maximum number of people
                to take up running as a way of life!
             </p>
        </div>
    </div>
    <div class="about-manipal-marathon">
        <div class="image-marathon">
        </div>
        <div class="about-marathon">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis fuga praesentium dolorem recusandae excepturi nobis in alias debitis corporis, quo eum, a officiis libero, culpa ea? Sequi inventore vitae architecto.</p>
        </div>
    </div> --}}
    </section>
    <section id="container-1">
    <div class="flex-container" >
        <div class="img-div">
            <img src="../images/MM19logo.png" class="image" alt="">
        </div>
        <div class="container-info">
            <h1 class="title-two">Manipal Marathon 2019</h1>
            <a href="../files/mm19.pdf" class="btn">Know More</a>
            <a href="https://www.facebook.com/media/set?set=a.2040174016032386&type=3&sfns=mo" class="btn">Gallery</a>
        </div>
    </div>
    </section>
    <section id="container-2">
    <div class="flex-container-two">
        <div class="img-div">
            <img src="../images/MM18logo.png" class="image" alt="">
        </div>
        <div class="container-info-two">
            <h1 class="title">Manipal Marathon 2018</h1>
            <a href="../files/mm18.pdf" class="btn">Know More</a>
            <a href="https://m.facebook.com/photographyclubmanipal/albums/1580071122042680/" class="btn">Gallery</a>
        </div>
    </div>
    </section>
    <section id="container-3">
    <div class="flex-container">
        <div class="img-div">
            <img src="../images/MM17logo.png" class="image" alt="">
        </div>
        <div class="container-info">
            <h1 class="title-two">Manipal Marathon 2017</h1>
            {{!-- <a href="../files/mm19.pdf" class="btn">Know More</a> --}}
            <a href="https://www.facebook.com/media/set?set=a.1247960801920382&type=3&sfns=mo" class="btn">Gallery</a>
        </div>
    </div>
    </section>
</div>
</section>