<link rel="stylesheet" href="../stylesheets/training.css">
<link rel="stylesheet" href="../stylesheets/ink.css">
<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<script src="../javascripts/ink.js"></script>
<script src="../javascripts/modernizr.js"></script>
<section class="training-section">
    <div class="cd-main-content">
        <div class="center">
            <img src="../images/events-logo/training.png" class="training-logo">
            <h1 class="cd-heading" id="title-mm-train">Manipal Marathon 2020 Prizes</h1>
            <h1 class="cd-heading" id="sub-title">
                Race Types
            </h1>
            <div class="container links-training">
                <a href="/prizes/5k" class="cd-btn cd-modal-trigger cd-link">5k Run</a>
                <a href="/prizes/10k" class="cd-btn cd-modal-trigger cd-link">10k Run</a>
                <a href="/prizes/21k" class="cd-btn cd-modal-trigger cd-link">21k Half Marathon</a>
                <a href="/prizes/42k" class="cd-btn cd-modal-trigger cd-link">42k Full Marathon</a>
                <a href="/prizes/mahestud" class="cd-btn cd-modal-trigger cd-link">MAHE Students</a>
                <a href="/prizes/mahefac" class="cd-btn cd-modal-trigger cd-link">MAHE Faculty</a>
            </div>
        </div>
        {{>modal-5k}}
        {{>modal-10k}}
        {{>modal-21k}}
        {{>modal-42k}}
        <div class="cd-transition-layer">
            <div class="bg-layer">

            </div>
        </div>
    </div>
</section>