<link rel="stylesheet" href="../stylesheets/race-route.css">
<link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
<script src="../javascripts/race-route.js"></script>
{{!-- <section class="pacers">
    <div class="swiper-container">
        <h1 class="pacers_title">OUR PACERS</h1>
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="imgBx">
                    <img src="http://www.pngmart.com/files/8/Question-Mark-PNG-Transparent.png">
                </div>
                <div class="details">
                    <h3>Jane Doe<br><span>Pacer X</span></h3>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="imgBx">
                    <img src="http://www.pngmart.com/files/8/Question-Mark-PNG-Transparent.png">
                </div>
                <div class="details">
                    <h3>Jane Doe<br><span>Pacer X</span></h3>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="imgBx">
                    <img src="http://www.pngmart.com/files/8/Question-Mark-PNG-Transparent.png">
                </div>
                <div class="details">
                    <h3>Jane Doe<br><span>Pacer X</span></h3>
                </div>
            </div>
        </div>
        <div class="swiper-pagination"></div>
    </div>

</section> --}}
    {{!-- <h1 class="route_title">ROUTE</h1>
    <br>
    <div class="map-container">
        <div class="route-map">
            <img src="http://img.photobucket.com/albums/v294/StruckTwice/GIMP%20Tutorials/Animated%20Route/finalimage.gif">
        </div>
        <div class="directions">
            <h3>DIRECTIONS</h3>
            <ul>
                <li>Step 1</li>
                <li>Step 1</li>
                <li>Step 1</li>
                <li>Step 1</li>
            </ul>
        </div>
    </div> --}}
<section class="route-section">
	<div class="testimonial-section">
      <div class="inner-width">
        <h1>Race Types</h1>
        <div class="testimonial-pics">
          <img src="images/p1.png" alt="test-1">
          <img src="images/p2.png" alt="test-2">
          <img src="images/p3.png" alt="test-3">
          <img src="images/p4.png" alt="test-4">
          <img src="images/p5.png" alt="test-5">
        </div>

        <div class="testimonial-contents">
          <div class="testimonial" id="test-1">
                <div class="images">
                    <div class="route-map">
                        <iframe src="https://ridewithgps.com/embeds?type=route&id=31391153&metricUnits=true&sampleGraph=true" style="width: 1px; min-width: 100%; height: 700px; border: none;" scrolling="no"></iframe>
                    </div>
                    <div class="overlay-map">
                        <img src="../images/42km/map.png">
                    </div>
                    <div class="right-content">
                        <img class="map-to-click" src="../images/42km/elevation.jpg">
                        <span>Elevation Chart (Click to expand)</span>
                        <div class="overlay-map">
                            <img src="../images/42km/elevation.jpg">
                        </div>
                            <br>
                            <table class="table">
                            <thead>
                                <tr>
                                <th scope="col">Start time</th>
                                <th scope="col">Venue</th>
                                <th scope="col">Cut-off time</th>
                                <th scope="col">Hydration points</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                <td>5:15am</td>
                                <td>KMC greens</td>
                                <td>11:45am(6.5 hrs)</td>
                                <td>Every 2 kms</td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="buttons">
                            <a href="../images/42km/gpx.gpx" class="btn">Download GPX file</a>
                            <a href="../images/42km/cuesheet.pdf" class="btn">Download Cuesheet</a>
                        </div>
                        <span>To view gpx download the file and visit <a href="http://apps.maxtecnologia.com.br/view_gpx.html">here</a></span>
                        
                    </div>
                </div>
		  </div>
          <div class="testimonial" id="test-2">
                <div class="images">
                    <div class="route-map">
                        <iframe src="https://ridewithgps.com/embeds?type=route&id=29322229&metricUnits=true&sampleGraph=true&privacyCode=DlePqGqH8xZtOoUa" style="width: 1px; min-width: 100%; height: 700px; border: none;" scrolling="no"></iframe>
                    </div>
                    <div class="overlay-map">
                        <img src="../images/21km/map.png">
                    </div>
                    <div class="right-content">
                        <img class="map-to-click" src="../images/21km/elevation.jpg">
                        <span>Elevation Chart (Click to expand)</span>
                        <div class="overlay-map">
                            <img src="../images/21km/elevation.jpg">
                        </div>
                        <br>
                <table class="table">
                <thead>
                    <tr>
                    <th scope="col">Start time</th>
                    <th scope="col">Venue</th>
                    <th scope="col">Cut-off time</th>
                    <th scope="col">Hydration points</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                    <td>5:45am</td>
                    <td>KMC greens</td>
                    <td>9:30am(3 hrs 30 Mins)</td>
                    <td>Every 2 kms</td>
                    </tr>
                </tbody>
            </table>
                        <div class="buttons">
                            <a href="../images/21km/gpx.gpx" class="btn">Download GPX file</a>
                            <a href="../images/21km/cuesheet.pdf" class="btn">Download Cuesheet</a>
                        </div>
                        <span>To view gpx download the file and visit <a href="http://apps.maxtecnologia.com.br/view_gpx.html">here</a></span>
                        
                    </div>
                </div>
		  </div>
          <div class="testimonial" id="test-3">
                <div class="images">
                    <div class="route-map">
                        <iframe src="https://ridewithgps.com/embeds?type=route&id=29221279&metricUnits=true&sampleGraph=true&privacyCode=1BiSdtLXCIN17eaY" style="width: 1px; min-width: 100%; height: 700px; border: none;" scrolling="no"></iframe>
                    </div>
                    <div class="overlay-map">
                        <img src="../images/10km/map.png">
                    </div>
                    <div class="right-content">
                        <img class="map-to-click" src="../images/10km/elevation.jpg">
                        <span>Elevation Chart (Click to expand)</span>
                        <div class="overlay-map">
                            <img src="../images/10km/elevation.jpg">
                        </div>
                        <br>
                        <table class="table">
                            <thead>
                                <tr>
                                <th scope="col">Start time</th>
                                <th scope="col">Venue</th>
                                <th scope="col">Cut-off time</th>
                                <th scope="col">Hydration points</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                <td>6:15am</td>
                                <td>KMC greens</td>
                                <td>8:45am(2 hrs 30 mins)</td>
                                <td>Every 2 kms</td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="buttons">
                            <a href="../images/10km/gpx.gpx" class="btn">Download GPX file</a>
                            <a href="../images/10km/cuesheet.pdf" class="btn">Download Cuesheet</a>
                        </div>
                        <span>To view gpx download the file and visit <a href="http://apps.maxtecnologia.com.br/view_gpx.html">here</a></span>
                    </div>
                </div>
		  </div>
          <div class="testimonial" id="test-4">
                <div class="images">
                    <div class="route-map">
                        <iframe src="https://ridewithgps.com/embeds?type=route&id=31636810&metricUnits=true&sampleGraph=true" style="width: 1px; min-width: 100%; height: 700px; border: none;" scrolling="no"></iframe>
                    </div>
                    <div class="overlay-map">
                        <img src="../images/5km/map.png">
                    </div>
                    <div class="right-content">
                        <img class="map-to-click" src="../images/5km/elevation.jpg">
                        <span>Elevation Chart (Click to expand)</span>
                        <div class="overlay-map">
                            <img src="../images/5km/elevation.jpg">
                        </div>

                        <br>
                <table class="table">
                <thead>
                    <tr>
                    <th scope="col">Start time</th>
                    <th scope="col">Venue</th>
                    <th scope="col">Cut-off time</th>
                    <th scope="col">Hydration points</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                    <td>6:30am</td>
                    <td>KMC greens</td>
                    <td>8:00am(1 hr 30 mins)</td>
                    <td>Every 1.5 kms</td>
                    </tr>
                </tbody>
            </table>
                        <div class="buttons">
                            <a href="../images/5km/gpx.gpx" class="btn">Download GPX file</a>
                            <a href="../images/5km/cuesheet.pdf" class="btn">Download Cuesheet</a>
                        </div>
                        
                    </div>
                </div>
		  </div>
          <div class="testimonial" id="test-5">
                <div class="images">
                    <div class="route-map">
                        <iframe src="https://ridewithgps.com/embeds?type=route&id=29221288&metricUnits=true&sampleGraph=true&privacyCode=jgnwO3RN03GBatpK" style="width: 1px; min-width: 100%; height: 700px; border: none;" scrolling="no"></iframe>
                    </div>
                    <div class="overlay-map">
                        <img src="../images/3km/map.png">
                    </div>
                    <div class="right-content">
                        <img class="map-to-click" src="../images/3km/elevation.jpg">
                        <span>Elevation Chart (Click to expand)</span>
                        <div class="overlay-map">
                            <img src="../images/3km/elevation.jpg">
                        </div>
                        <br>
                        <table class="table">
                            <thead>
                                <tr>
                                <th scope="col">Start time</th>
                                <th scope="col">Venue</th>
                                <th scope="col">Cut-off time</th>
                                <th scope="col">Hydration points</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                <td>7:15am</td>
                                <td>KMC greens</td>
                                <td>N/A</td>
                                <td>Every 1.5 kms</td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="buttons">
                            <a href="../images/3km/gpx.gpx" class="btn">Download GPX file</a>
                            <a href="../images/3km/cuesheet.pdf" class="btn">Download Cuesheet</a>
                        </div>
                        <span>To view gpx download the file and visit <a href="http://apps.maxtecnologia.com.br/view_gpx.html">here</a></span>
                    </div>
                </div>
		    </div>
        </div>
      </div>
    </div>

    <script type="text/javascript">
      $('.testimonial-pics img').click(function(){
        $(".testimonial-pics img").removeClass("active");
        $(this).addClass("active");

        $(".testimonial").removeClass("active");
        var remove_map_element = $(".testimonial").find('.route-map');
        var remove_right_element = $(".testimonial").find('.right-content');
        TweenMax.to(remove_map_element,0,{opacity:0, scale:0})
        TweenMax.to(remove_right_element,0,{opacity:0, x:'-110px'})
        $("#"+$(this).attr("alt")).addClass("active");
        var map_element = $("#"+$(this).attr("alt")).find('.route-map');
        var right_element = $("#"+$(this).attr("alt")).find('.right-content');
        TweenMax.to(map_element,1,{opacity:1, scale:1})
        TweenMax.to(right_element,1,{opacity:1, x:0})
      });

      $('.map-to-click').click(function(){
          val = $('.map-to-click').index(this);
          $('.overlay-map').eq(val).css({"display":"block"});
      });

      $('.overlay-map').click(function(){
          $('.overlay-map').css({"display":"none"});
      });
    </script>
</section>


{{>faq-data}}


    

        