<link rel="stylesheet" href="../stylesheets/race-types.css">
<script src="../javascripts/race-types.js"></script>
<div class="Sections">
        <Section>
            <h2>42K</h2>
            <div class="images">
                <img class="map" src="../images/42k/map.png" alt="" srcset="">
                <img src="../images/42k/elevation.jpg" alt="" srcset="">
            </div>
            <div class="navigation">
                <h3>42k</h2>
                <h3>21k</h2>
                <h3>10k</h2>
                <h3>5k</h2>
                <h3>3k</h2>
            </div>
        </Section>
        <Section>
            <h2>about me</h2>
            <p class="Text">Hi this is About Me Section :)</p>
        </Section>
        <Section>
            <h2>Skills</h2>
            <p class="Text">Hi this is Skills Section :)</p>
        </Section>
        <Section>
            <h2>team</h2>
            <p class="Text">Hi this is Team Section :)</p>
        </Section>
        <Section>
            <h2>serves</h2>
            <p class="Text">Hi this is Serves Section :)</p>
        </Section>
        <Section>
            <h2>contact me</h2>
            <p class="Text">Hi this is Contact Me Section :)</p>
            <p class="bottom-msg">The End :)</p>
        </Section>

    </div>