
<link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
<link rel="stylesheet" href="stylesheets/register.css">
<script src="javascripts/register.js"></script>
<section class="registermain">
    {{#if errors }}
        <div class="alert alert-danger">
            <p>Certain Values could have changed, please reselect options</p>
            <ul>
                {{#each errors }}
                    <li>{{ this.msg }}</li>
                {{/each}}
            </ul>
        </div>
    {{/if}}
    <h1>Registration Page</h1>
    <div id="typeselector">
        <button class="register_button" id="maheselector">MAHE Participant</button>
        <button class="register_button" id="nonmaheselector">non MAHE Participant</button>
    </div>
    <div id="mahetnc" class="tnc">
        <input type="checkbox" value="None" onchange='handleterms(this);' id="termscheckermahe" name="check" unchecked />
        <label for="termscheckermahe">Please read the <a class="tncclickermahe" href="#">following</a> terms and conditions and acknowledge to fill the form</label>
    </div>
    <div id="nonmahetnc" class="tnc">
        <input type="checkbox" value="None" onchange='handleterms(this);' id="termscheckernonmahe" name="check" unchecked />
        <label for="termscheckernonemahe">Please read the <a class="tncclickernonmahe" href="#">following</a> terms and conditions and acknowledge to fill the form</label>
    </div>
    <div class="overlay-map map1">
        <div class="container terms-container">
            <div class="close-btn"><i class="fa fa-times" aria-hidden="true"></i></div>
            <br>
            <h3>Terms and Conditions for MAHE</h3>
            <p>
                1. Kindly note that if you are not a part of any institution given 
                <a class="hyper-colleges" href="https://manipal.edu/mu/academics/institution-list.html">here</a> or TAPMI
                then you fall under non-Manipal Academy of Higher Education (non- MAHE) category.
            </p>
            <p>
                2. All those falling under MAHE category will be required to show their university
                identity card on the day of the Bib distribution.
            </p>
            <p>
                3. Payment and registration would begin right after clicking the Start Registration button
                <br>
                4. Please do not start registration unless you are sure
            </p>
            <p>
                5. If your transaction fails you can make the transaction again online as well as offline
                by going to portal.manipalmarathon.in and logging in with your email credentials.
            </p>
            <p>
                <b>
                    6. Requests for Refund would not be entertained under any circumstance.
                </b>
            </p>
        </div>
    </div>

    <div class="overlay-map map2">
        <div class="container terms-container">
            <div class="close-btn"><i class="fa fa-times" aria-hidden="true"></i></div>
            
            <h3>Terms and Conditions for Non-MAHE</h3>
            <p>
                1. Kindly note that if you are not a part of any institution given 
                <a class="hyper-colleges" href="https://manipal.edu/mu/academics/institution-list.html">here</a> or TAPMI
                then you fall under non-Manipal Academy of Higher Education (non- MAHE) category.
            </p>
            <p>
                2. All those falling under MAHE category will be required to show their university
                identity card on the day of the Bib distribution.
            </p>
            <p>
                3. Payment and registration would begin right after clicking the Start Registration button
                <br>
                4. Please do not start registration unless you are sure
            </p>
            <p>
                5. If your transaction fails you can make the transaction again online as well as offline
                by going to portal.manipalmarathon.in and logging in with your email credentials.
            </p>
            <p>
                <b>
                    6. Requests for Refund would not be entertained under any circumstance.
                </b>
            </p>
        </div>
    </div>


    <div id="container">
        <form id="registerform" action="/register" method="POST">
            <span class="input">
                <input type="text" name="name" class="input__field" id="input-1" value="{{formData.name}}" />
                <label for="input-1" class="input__label">
                <span class="input__label-content">Name</span>
            </label>
            </span>

            <span class="input">
                <input type="email" name="email" class="input__field" id="input-2" value="{{formData.email}}"/>
                <label for="input-2" class="input__label">
                <span class="input__label-content">Email Address</span>
                </label>
            </span>

            <span class="input">
                <input type="text" name="contact" class="input__field" id="input-3" value="{{formData.contact}}"/>
                <label for="input-3" class="input__label">
                <span class="input__label-content">Contact Number</span>
                </label>
            </span>

            <span class="input">
                <input type="text" name="age" class="input__field" id="input-4" value="{{formData.age}}"/>
                <label for="input-4" class="input__label">
                <span class="input__label-content">Age</span>
                </label>
            </span>

            <span class="input">
                <select id="input-9" class="select__field invalid" name="gender">
                    <option value="0" selected>Select Gender</option>
                    <option value="M">Male</option>
                    <option value="F">Female</option>
                </select>
                <span>*Please select this field</span>
            </span>

            <span style="display: none;" class="input mahechecker">
                <div id="mahechecker" class="slideTwo">  
                    <input type="checkbox" value="None" onchange='handleClick(this);' id="slideTwo" name="check" unchecked />
                    <label for="slideTwo"></label>
                </div>
                <label for="mahechecker">MAHE Participant</label>
            </span>

            <div id="mahebox">
                <span id="mahe" class="input institution">
                    <input type="text" name="regno" class="input__field" id="input-8" value="{{formData.regno}}"/>
                    <label for="input-8" class="input__label">
                    <span class="input__label-content">MAHE Employee/Registration Number</span>
                    </label>
                </span>
                <span class="input">
                    <select id="input-13" name="institute" class="select__field invalid" name="gender">
                        <option selected>Select Institution</option>
                        {{#each colleges}}
                            <option value="{{this.name}}">{{this.name}}</option>
                        {{/each}}
                    </select>
                    <span>*Please select this field</span>
                </span>
            </div>

            <span id="nonmahe" class="input institution">
                <input type="text" name="institute" class="input__field" id="input-7" />
                <label for="input-7" class="input__label">
                <span class="input__label-content">Name of Institution</span>
                </label>
            </span>

            <span class="input">
                <select onchange="rtype(this)" id="input-11" class="select__field invalid" name="rtype">
                    <option value="0" selected>Select Race Category</option>
                    <option value="3k">3K Fun Run</option>
                    <option value="5k">5 Km</option>
                    <option value="10k">10 Km</option>
                    <option value="21k">21 Km Half Marathon</option>
                    <option value="42k">42 Km Full Marathon</option>
                </select>
                <span>*Please select this field</span>
            </span>

            <span class="input">
                <input type="text" name="emgname" class="input__field" id="input-5" value="{{formData.emgname}}" />
                <label for="input-5" class="input__label">
                <span class="input__label-content">Emergency Contact Name</span>
                </label>
            </span>

            <input type="hidden" name="maheval" id="maheval" value="0">

            <span class="input">
                <input type="text" name="emgcontact" class="input__field" id="input-6" value="{{formData.emgcontact}}"/>
                <label for="input-6" class="input__label">
                <span class="input__label-content">Emergency Contact Number</span>
                </label>
            </span>

            <span class="input tshirtin">
                <select id="input-10" class="select__field invalid" name="tshirt">
                    <option value="0" selected>Select T-shirt Size</option>
                    <option value="XS">XS</option>
                    <option value="S">S</option>
                    <option value="M">M</option>
                    <option value="L">L</option>
                    <option value="XL">XL</option>
                    <option value="XXL">XXL</option>
                </select>
                <span>*Please select this field</span>
            </span>

            <span class="input">
                <input type="text" name="emgcontact" class="input__field" id="input-12" value="Registration Fee: Rs 20" disabled/>
                <label for="input-12" class="input__label">
                </label>
            </span>

            {{!-- <span class="input message">
                <textarea class="input__field" id="input-5"></textarea>
                <label for="input-5" class="input__label">
                <span class="input__label-content">Message</span>
                </label>
            </span> --}}
            <input type="hidden" name="_csrf" value="{{csrfToken}}">
            <button class="g-recaptcha" data-sitekey="6LepCegUAAAAAHpylqORuB3ryeuDu0KHouwKUjTf" data-callback='onSubmit' id="send-button">Start Payment</button>

        </form>
    </div>

</section>

<script>
        $('#maheselector').click(function(){
            $('#mahebox').css({display:'flex'})
            $('#mahe').css({display:'block'})
            $('#nonmahe').css({display:'none'})
            $('#maheval').val(1);
            $('#mahetnc').css({display: 'block'})
            $('#typeselector').css({display: 'none'})
            if($('#input-11').val()==='3k'){
                $('#input-12').val('Registration Fee: Free');
            }
            else{
                $('#input-12').val('Registration Fee: Rs 10');
            }
        })

        $('#nonmaheselector').click(function(){
           $('#nonmahe').css({display:'block'}) 
           $('#mahe').css({display:'none'})
           $('#mahebox').css({display:'none'})
           $('#maheval').val(0);
           $('#nonmahetnc').css({display: 'block'})
           $('#typeselector').css({display: 'none'})
           if($('#input-11').val()==='3k'){
                $('#input-12').val('Registration Fee: Free');
            }
            else{
                $('#input-12').val('Registration Fee: Rs 20');
            }
        })

    $('#input-11').change(function() {
            if($(this).val()=='3k'){
                $('.tshirtin').css({display:'none'});
                $('#input-12').val('Registration Fee: Free');
            }
            else{
                $('.tshirtin').css({display:'block'});
                if($('#maheval').val()==1){
                    $('#input-12').val('Registration Fee: Rs 10');
                }
                else{
                    $('#input-12').val('Registration Fee: Rs 20');
                }
            }
      });

      $('.tncclickermahe').click(function(){
          val = $('.map-to-click').index(this);
          $('.map1').eq(val).css({"display":"block"});
      })

      $('.tncclickernonmahe').click(function(){
          val = $('.map-to-click').index(this);
          $('.map2').eq(val).css({"display":"block"});
      })

      $('.fa-times').click(function(){
          $('.overlay-map').css({"display":"none"});
      })

      function handleterms(cb) {
          if(cb.checked){
              $('#container').css({display:'flex'})
          }
          else{
              $('#container').css({display:'none'})
          }
      }

      function onSubmit(token) {
         document.getElementById("registerform").submit();
    }

      $('.select__field').change(function(){
          if($(this).val()!== '0' || $(this).val()!== ' '){
              $(this).removeClass('invalid')
              $(this).next('span').css({display:'none'});
          }
          else{
              $(this).addClass('invalid')
              $(this).next('span').css({display:'block'});
          }
      })

      
</script>