<link rel="stylesheet" href="../stylesheets/training.css">
<link rel="stylesheet" href="../stylesheets/ink.css">
<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<script src="../javascripts/ink.js"></script>
<script src="../javascripts/modernizr.js"></script>
<section class="training-section">
    <div class="cd-main-content">
        <div class="center">
            <img src="../images/events-logo/training.png" class="training-logo">
            <h1 class="cd-heading" id="title-mm-train">Manipal Marathon 2020 Training</h1>
            <h1 class="cd-heading" id="sub-title">
                Select Race Module
            </h1>
            <div class="container links-training">
                <a href="" class="cd-btn cd-modal-trigger cd-link" id="cd-modal-trigger">5k Run</a>
                <a href="" class="cd-btn cd-modal-trigger cd-link" id="modal-2">10k Run</a>
                <a href="" class="cd-btn cd-modal-trigger cd-link" id="modal-3">21k Half Marathon</a>
                <a href="" class="cd-btn cd-modal-trigger cd-link" id="modal-4">42k Full Marathon</a>
            </div>
        </div>
        {{>modal-5k}}
        {{>modal-10k}}
        {{>modal-21k}}
        {{>modal-42k}}
        <div class="cd-transition-layer">
            <div class="bg-layer">

            </div>
        </div>
    </div>
</section>