.footer{
  min-height: 80vh;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to bottom, rgba(245, 181, 77, 0.9), rgba(191, 113, 247, 0.9)),
  url(../images/landing/42.jpg);
  background-size: cover;
  flex-direction: column;
}

.footer span{
  color: white;
  font-size: 20px;
}

.footer .containment {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.footer .leftfooter{
  min-height: 80vh;
  height: 100%;
  width: 65%;
  display: flex;
  justify-content: center;
  padding:10px;
  flex-direction: column;
}

.footer .leftfooter .footerlogo{
  width: 100%;
  display: flex;
  justify-content: flex-start;
  height: 20vh;
  overflow: hidden;
  padding-left: 5%;
  justify-self: flex-start;
}

.footer .leftfooter .leftcontent{
  flex-grow: 1;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.footer .leftfooter .leftcontent .rightdata{
  flex-grow: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  color: #fff;
}

.footer .leftfooter .leftcontent .rightdata span i{
  margin: 10px;
}

.footer .leftfooter .leftcontent .leftmap{
  width: max-content;
  height: 100%;
}

.footer .leftfooter .footerlogo img{
  height: 100%;
  width: auto;
  transform: scale(2);
}

.footer .rightfooter{
  min-height: 80vh;
  height: 100%;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(42, 64, 125, 0.92);
}

.footer .rightfooter .usercontact{
  color: #fff;
}

.footer .rightfooter .usercontact .contactform{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
  margin: 10px;
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.footer .rightfooter .usercontact .contactform input{
  margin: 10px;
  background: transparent;
  border: none;
  color: white;
  border-bottom: solid rgb(138, 138, 138) 0.5px;
  width: 100%;
  padding: 5px;
}

.footer .rightfooter .usercontact .contactform input::placeholder{
  color: #fff;
}

.footer .rightfooter .usercontact .contactform textarea::placeholder{
  color: #fff;
}

.footer .rightfooter .usercontact .contactform textarea{
  margin: 10px;
  background: transparent;
  border: none;
  color: white;
  border-bottom: solid rgb(138, 138, 138) 0.5px;
  width: 100%;
  resize: none;
  padding: 5px;
}


.footer .rightfooter .usercontact .contactform .contactsubmit{
  background: #1111113d;
  border: solid 0.5px rgb(53, 53, 53);
  border-radius: 5px;
  text-align: center;
  width: 50%;
  color: white;
}

.footer .rightfooter .usercontact .contactform .contactsubmit:hover{
  background: #111111a8;
}