header{
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.header_logo{
    position: fixed;
    float:left;
    margin:2px 26px;
    color:#fff;
    font-weight: bold;
    font-size:24px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#sponsor-button:hover{
    color: #ff8;;
    cursor: pointer;
}

#faq-button:hover{
    color:#ff8;;
    cursor: pointer;
}

#vso-button:hover{
    color:#ff8;;
    cursor: pointer;
}

.header_logo_image{
    left:0;
    top:0;
    border-radius:50%;
    width:60px;
    height:auto;
}

.header_logo_image.hidden{
    left:0;
    top:0;
    border-radius:50%;
    width:60px;
    height:auto;
}

.main{
    z-index:2;
    position: fixed;
    width:100%;
}


nav ul{
    list-style: none;
    background:rgba(0,0,0,0);
    color:#fff;
    padding:0;
    text-align:center;
    margin:0;
    transition: 1s;
}

nav.black ul{
    background: #000;
}

nav ul li{
    display: inline-block;
    padding:20px;
}

nav ul li a{
    text-decoration: none;
    color:#fff;
    font-size:20px;
}

nav ul li a:hover{
    text-decoration: none;
    color:#ff8;
    font-size:20px;
}

.menu-icon{
    width:100%;
    background:#000;
    text-align: right;
    box-sizing: border-box;
    padding: 15px 24px;
    cursor: pointer;
    color:#fff;
    display:none;
}

.dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #000000;
    min-width: 220px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 3;
    color:white;
    border-radius: 5px;
  }
  
  .dropdown:hover .dropdown-content {
    display: block !important;
  }

/* .show{
    display:none;
    transition: 1s ease;
} */
.about_drop:before{
    content: 'About';
    font-size:20px;
}
.scroller{
    position: relative !important;
    background: #000 !important;
    width: 100%;
}
@media(max-width: 768px){

    .dropdown-content {
        display: none;
        position: relative;
        background-color: none;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
        height: 100%;
    }

    .dropdown:hover .dropdown-content {
        display: block !important;
      }

    .header_logo{
        position: fixed;
        top:0;
        margin-top:16px;

    }
    nav ul{
        max-height: 0px;
        background:#000;
        overflow: scroll;
    }
    nav.black ul{
        background:#000;
    }
    .showing{
        max-height:30em;
        height: 100%;
    }
    nav ul li{
        box-sizing: border-box;
        width:100%;
        padding:14px 0;
        text-align: center;
    }
    .about_drop:before{
        content: '';
    }
    .menu-icon{
        display:block;
    }
}