/* Register Section */


@media only screen and (max-width: 700px){

        .sponsors .container img{
            height: 80px;
            width: auto;
            margin: 10px !important;
        }

        .sponsors .container .icici{
            height: 140px !important;
            width: auto;
        }

        .sponsors .container .bp{
            width: 80% !important;
            height: auto;
        }
}

/* sponsors */

.sponsors{
    min-height: 70vh;
    height: 100%;
    background: #111111;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.sponsors hr{
    height: 2px;
    border: 0; border-top: 1px solid #ccc;
    margin: 1em 0; padding: 0;
    width: 80%;
    text-align: center;
}

.sponsors h1{
    text-align: center;
    text-transform: uppercase;
    font-family: cursive;
    padding: 10px;
}

.sponsors .container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.sponsors .container img{
    margin: 20px;
    margin-top: 0;
    margin-bottom: 0;
}

.sponsors .container .icici{
    height: 170px;
    width:auto;
}

.sponsors .container .bp{
    height: auto;
    width: 60%;
}

.aboutdata{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #28272A;
    flex-direction: column;
    color: #fff;
    width: 100%;
    max-width: 100%;
    height: 100%;
    padding: 30px;
}

@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);
@import url(https://fonts.googleapis.com/css?family=Teko:700);

.aboutdata .abouttitles {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    text-align: left;
    width: 100%;
    padding-left: 10%;
}

#lefttitles, #leftcontent{
    opacity: 0;
    transform: translateX(-100px);
}

#righttitles, #rightcontent{
    opacity: 0;
    transform: translateX(-100px);
}

.aboutdata .abouttitles h1{
    font-family: 'Open sans', serif;
    text-transform: uppercase;
    font-size: 40px;
    color: #fff;
}

.aboutdata .abouttitles .abouttitle{
    -webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: white;
}

.aboutdata .aboutcontent{
    width: 70%;
    padding: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.aboutdata .aboutcontent .leftborder{
    border:solid #4F4E51 1px;
    height: 150px;
    width: 2px;
    margin-right: 70px;
    margin-left: 20%;
}

.aboutdata .aboutcontent p{
    color: #87878A;
}

.aboutdata .content2{
    flex-direction: row-reverse;
}

.aboutdata .content2 .leftborder{
    margin-right: 20%;
    margin-left: 70px;
    height: 230px;
}

.aboutdata .title2about{
    align-items: flex-end;
    padding-left: 0;
    padding-right: 10%;
}