@import url('https://fonts.googleapis.com/css?family=Dancing+Script&display=swap');


.landing
{
    background-image:
        linear-gradient(to bottom, rgba(31, 31, 32, 0.32), rgba(117, 19, 93, 0.23)),
        url('../images/landing.jpg');
    background-size: cover;
}

.logo{
  border-radius: 20%;
    width: 40vh;
    height: auto;
    left:56%;
    top:33%;
    position: absolute;
    z-index:1;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    -webkit-animation: float 2.5s ease-in-out forwards;
            animation: float 2.5s ease-in-out forwards;
  background: white;
}




.hide{
  display: none;
}

.show{
    border-radius: 50%;
    height:auto;
    position: fixed;
    z-index:2;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    float:left;
    margin:2px 26px;
    width:60px;
    left:0;
    top:0;
}

.about_button{
    bottom:5%;
    position: absolute;
    width:100%;
}
.button__holder {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  .button__holder:after {
    content: "";
    position: absolute;
    z-index: 0;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  .button__holder h2 {
    margin-right: 1em;
    text-align: center;
    color: #8A3B58;
  }
  
  .plus {
    position: relative;
    z-index: 1;
    width: 60px;
    height: 60px;
    color: #1a1a1a;
    background: #ed1c5b;
    border-radius: 50%;
    border: none;
    transition: box-shadow 400ms cubic-bezier(0.2, 0, 0.7, 1), -webkit-transform 200ms cubic-bezier(0.2, 0, 0.7, 1);
    transition: box-shadow 400ms cubic-bezier(0.2, 0, 0.7, 1), transform 200ms cubic-bezier(0.2, 0, 0.7, 1);
    transition: box-shadow 400ms cubic-bezier(0.2, 0, 0.7, 1), transform 200ms cubic-bezier(0.2, 0, 0.7, 1), -webkit-transform 200ms cubic-bezier(0.2, 0, 0.7, 1);
  }
  .plus:after {
    content: "";
    font-size: 0em;
    line-height: 1.1em;
  }
  .plus:hover {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    box-shadow: 0 0 1px 15px rgba(138, 59, 88, 0.4), 0 0 1px 30px rgba(138, 59, 88, 0.1), 0 0 1px 45px rgba(138, 59, 88, 0.1);
  }
  svg{
      text-align: center;
  }
svg.intro {
    background: linear-gradient(135deg, #a93bb191, #582a7e91);
    max-width: 800px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    box-shadow: 0 30px 50px -20px #2e0642;
    -webkit-animation: float 2.5s ease-in-out forwards;
            animation: float 2.5s ease-in-out forwards;
  }

  svg.intro.go .text {
    font-family: Arial, sans-serif;
    font-size: 17px;
    text-transform: uppercase;
    display: block;
  }

  svg.intro.go .text-small {
    font-family: Arial, sans-serif;
    font-size: 10px;
    text-transform: uppercase;
    display: block;
  }

  svg.intro.go .text-stroke {
    fill: none;
    stroke: #51256f;
    stroke-width: 2.8px;
    stroke-dashoffset: -900;
    stroke-dasharray: 900;
    stroke-linecap: butt;
    stroke-linejoin: round;
    -webkit-animation: dash 2.5s ease-in-out forwards;
            animation: dash 2.5s ease-in-out forwards;
  }
  svg.intro.go .text-stroke:nth-child(2) {
    -webkit-animation-delay: .3s;
            animation-delay: .3s;
  }
  svg.intro.go .text-stroke:nth-child(4) {
    -webkit-animation-delay: .9s;
            animation-delay: .9s;
  }
  svg.intro.go .text-stroke-2 {
    stroke: #f6bdfa;
    -webkit-animation-delay: 1.2s;
            animation-delay: 1.2s;
  }
  svg.intro.go .text-stroke:nth-child(6) {
    -webkit-animation-delay: 1.5s;
            animation-delay: 1.5s;
  }
  svg.intro.go .text-stroke:nth-child(7) {
    -webkit-animation-delay: 1.8s;
            animation-delay: 1.8s;
  }
  
  @-webkit-keyframes dash {
    100% {
      stroke-dashoffset: 0;
    }
  }
  
  @keyframes dash {
    100% {
      stroke-dashoffset: 0;
    }
  }

  @-webkit-keyframes float {
    from {opacity: 0.4;}
    80% {opacity: 0.8 !important}
    to {opacity: 1;}
  }

  @keyframes float {
    from {opacity: 0.4;}
    80% {opacity: 0.8 !important}
    to {opacity: 1;}
  }
  .reload {
    position: absolute;
    bottom: 15px;
    right: 15px;
    background: #fff;
    border: none;
    border-radius: 20px;
    outline: none !important;
    font-size: 11px;
    line-height: 1.5;
    padding: 8px 12px;
    text-transform: uppercase;
    z-index: 10;
    cursor: pointer;
    box-shadow: 0 6px 7px #350e4c;
    transition: all 0.1s cubic-bezier(0.67, 0.13, 0.1, 0.81);
  }
  .reload:hover {
    box-shadow: 0 4px 4px #350e4c;
    -webkit-transform: translateY(1px);
            transform: translateY(1px);
  }
  .reload:active {
    box-shadow: 0 1px 2px #244B94;
    -webkit-transform: translateY(2px);
            transform: translateY(2px);
  }
  .reload svg {
    vertical-align: middle;
    position: relative;
    top: -2px;
  }
  .mobile-svg{
    display:none;
  }

  .mobile-logo-mm{
    display: none;
  }

  .strokelegacy{
    position: absolute;
    z-index: 5;
    top:70%;
    left: 15%;
    width:70%;
    transform: rotate(-5deg);
    height: fit-content;
  }

  .cd-heading{
    font-size: 2.7rem;
    line-height: 1;
    margin-bottom: 1em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    font-size: 2.6rem;
    line-height: 1;
    margin-bottom: 1em;
    font-family: 'Dancing Script', cursive;
    font-style: italic;
    color: white;
}
.six-img{
  width: 200px !important;
  height: auto;
}

#title-mm-train{
  display: none;
}
.cd-heading::after {
  /* ink/brush separation */
  content: '';
  display: block;
  width: 130px;
  height: 18px;
  background: url(../images/ink-separation.svg) no-repeat center center;
  margin: .2em auto 0;
}
  
  @media only screen and (max-width: 700px){
    .mobile-svg{
      display: block;
      height:35vh;
      width:100%;
      background: linear-gradient(135deg, #a93bb194, #582a7e49);
      box-shadow: 0 30px 50px -20px #2e0642;
      font-family: Arial, sans-serif;
      text-transform: uppercase;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .cd-heading{
      font-size: 1.25rem;
    }

    .strokelegacy{
      top:85%;
      width:100%;
      left: 0%;
    }

    .mobile-logo-mm{
      display: block;
    }

    .mob-logo{
      height: 35vh;
      width: auto;
    }

    
    

    .container_svg{
      display: none !important;
    }
    .reload{
      display: none;
    }
    .landing{
      display:flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }
    text{
      font-weight: 600;
      font-size: 3.0em;
      background: transparent;
      color:transparent;
      -webkit-text-stroke: #51256f 1.0px;
      line-height: 1.0em;
      -webkit-animation: dasher 2.5s ease-in-out forwards;
            animation: dasher 2.5s ease-in-out forwards;
    }

    .text-small{
      font-weight: 600;
      font-size: 2.0em;
      background: transparent;
      color:transparent;
      -webkit-text-stroke: #51256f 1.0px;
      line-height: 1.0em;
      -webkit-animation: dasher 2.5s ease-in-out forwards;
            animation: dasher 2.5s ease-in-out forwards;
    }

    @-webkit-keyframes dasher {
      100% {
        color: #f6bdfa;
        -webkit-text-stroke: #f6bdfa 0.0px;
      }
    }
    
    @keyframes dasher {
      100% {
        color: #f6bdfa;
        -webkit-text-stroke:  0.0px;
      }
    }

  }

  /* SLider */

  .c-header {
    display: flex;
    align-items: center;
    padding: 2rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
  }
  
  .c-header__title {
    text-transform: uppercase;
    font-size: 1.5em;
    margin: 0 2rem;
  }
  
  .c-navigation {
    flex-basis: 70%;
  }
  
  .c-navigation__list {
    padding: 0;
  }
  
  .c-navigation__list-item {
    display: inline-block;
    margin: 0 2rem;
    position: relative;
    text-transform: uppercase;
    font-size: 0.9em;
    opacity: 0.7;
    font-weight: 500;
  }
  .c-navigation__list-item:after {
    content: "";
    width: 2px;
    height: 100%;
    background: white;
    position: absolute;
    display: inline-block;
    right: -2rem;
  }
  
  .c-navigation__list-item:last-of-type:after {
    background: transparent;
  }
  
  .c-navigation__list-item--active {
    opacity: 1;
  }
  .c-navigation__list-item--active > a {
    position: relative;
  }
  .c-navigation__list-item--active > a:after {
    content: "";
    width: 100%;
    height: 1px;
    background-color: #ff4c42;
    position: absolute;
    bottom: -0.4rem;
    left: 0;
  }
  
  .c-cta {
    display: flex;
    align-items: center;
  }
  .c-cta > a {
    font-size: 0.9em;
    opacity: 0.7;
    font-weight: 500;
    text-transform: uppercase;
    margin: 0 2rem;
  }
  
  .c-cta__button {
    border: 0;
    background-color: transparent;
    display: inline-block;
  }
  
  .c-cta__button__search {
    width: 15px;
    height: 15px;
    margin-right: 3rem;
  }
  .c-cta__button__search svg {
    width: inherit;
    height: inherit;
    fill: white;
  }
  
  .c-cta__button__menu {
    width: 20px;
    height: 2px;
    background-color: white;
    position: relative;
  }
  .c-cta__button__menu:after, .c-cta__button__menu:before {
    content: "";
    width: inherit;
    height: inherit;
    background-color: inherit;
    position: absolute;
    left: 0;
  }
  .c-cta__button__menu:after {
    bottom: -5px;
  }
  .c-cta__button__menu:before {
    top: -5px;
  }
  
  .c-socials {
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: white;
    padding: 1.8rem 1.8rem 0.8rem 1.8rem;
    z-index: 2;
  }
  
  .c-socials__list-item {
    margin-bottom: 1rem;
  }
  .c-socials__list-item a svg {
    width: 21px;
    height: 21px;
  }
  
  .c-slide {
    display: inline-flex !important;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
    will-change: background-size;
    position: relative;
    transition: 1s ease;
    transition-delay: .4s;
  }
  .c-slide:after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.61) 76%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#00000000", endColorstr="#9c000000", GradientType=0 );
  }
  
  .c-slide-content {
    padding: 2rem;
    margin: 0 auto;
    width: 100%;
    z-index: 2;
    max-width: 1200px;
    color:white;
  }
  
  .c-slide__title {
    font-size: 4em;
    text-transform: uppercase;
    letter-spacing: 20px;
    -webkit-transform: translateY(150px);
            transform: translateY(150px);
    opacity: 0;
    transition: 0.8s ease;
    will-change: opacity, transform;
    color:white;
  }

  .slick-track{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .c-slide__title--large,
  .c-slide__title--medium {
    display: block;
    font-size: 2.5em;
    line-height: 110px;
    -webkit-transform: translateY(150px);
            transform: translateY(150px);
    will-change: transform;
    transition-delay: 0.4s;
    position: relative;
    transition: 1s ease;
  }
  
  .c-slide__title--medium {
    font-size: 1.6em;
    line-height: 100px;
  }
  
  .c-slide__subtitle {
    text-transform: uppercase;
    letter-spacing: 3px;
  }
  
  .c-slide__body {
    margin-top: 0.7rem;
    opacity: 0;
    line-height: 27px;
  }
  
  .c-slide__info {
    -webkit-transform: translateY(-150px);
            transform: translateY(-150px);
    transition: 0.8s ease;
  }
  
  .c-wrap {
    padding: 2rem 0;
    overflow: hidden;
  }
  
  .c-wrap--small {
    max-width: 30%;
  }
  
  .c-wrap--line {
    position: relative;
  }
  .c-wrap--line:after {
    content: "";
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    width: 0;
    height: 1px;
    background-color: white;
    bottom: 0;
    transition: 0.9s ease;
    transition-delay: 0.4s;
  }
  
  .slick-list {
    overflow: visible !important;
  }
  
  .animateIn .c-slide__title--large,
  .animateIn .c-slide__title--medium,
  .animateIn .c-slide__info,
  .animateIn .c-slide__title,
  .animateIn .c-slide__body,
  .initialAnimation .c-slide__title--large,
  .initialAnimation .c-slide__title--medium,
  .initialAnimation .c-slide__info,
  .initialAnimation .c-slide__title,
  .initialAnimation .c-slide__body {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
  .animateIn .c-wrap--line:after,
  .initialAnimation .c-wrap--line:after {
    left: 0;
    -webkit-transform: translateX(0);
            transform: translateX(0);
    width: 100%;
  }
  
  .slick-list {
    transition: 0.5s ease;
  }
  
  .u-scale-out {
    -webkit-transform: scale(0.6) !important;
            transform: scale(0.6) !important;
    transition: 0.5s ease;
  }
  
  .u-scale-in {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  
  @media only screen and (max-width: 1300px) {
    .c-slide__title {
      font-size: 3em;
    }
  
    .c-slide__title--large {
      font-size: 2em;
    }
  
    .c-wrap--small {
      max-width: 50%;
    }
  }
  @media only screen and (max-width: 1100px) {
    .c-navigation {
      display: none;
    }
  
    .c-header {
      justify-content: space-between;
    }
  }
  @media only screen and (max-width: 800px) {
    .c-slide__title--medium {
      font-size: 1.0em;
    }
  
    .c-slide__title {
      font-size: 1.7em;
    }
  
    .c-slide__title--large {
      font-size: 1.0em;
    }
  
    .c-wrap--small {
      max-width: 80%;
    }
  }


  .newlanding{
    min-height: 100vh;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
  }

  .newlanding .topnewlanding{
    width: 100%;
    min-height: 65vh;
    height: 65vh;
    background-image:
        linear-gradient(to bottom, #24c884b9, #24c883bb),
        url('https://scontent-bom1-1.xx.fbcdn.net/v/t1.0-0/p640x640/53333168_1882723548506522_3153760477901750272_o.jpg?_nc_cat=102&_nc_sid=cdbe9c&_nc_ohc=GeHh5Q27CGAAX9fnDfg&_nc_ht=scontent-bom1-1.xx&_nc_tp=6&oh=bf343493706f7f1104e5d0319dbc54b4&oe=5ECA55F4');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: row;
    overflow: hidden;
  }

  .newlanding .topnewlanding .avatardiv{
    min-height: 65vh;
    height: 65vh;
    overflow: hidden;
    width: 30%;
  }

  .newlanding .topnewlanding .avatardiv img{
    height: 200% !important;
    width: auto;
  }

  .newlanding .topnewlanding .titles{
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    width: 30%;
  }

  .newlanding .topnewlanding .titlediv{
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    font-size: 65px;
    font-weight: bold;
    width: 50%;
    line-height: 60px;
  }

  .newlanding .topnewlanding .subtitlediv{
    color: #DAD7D7;
    font-family: 'Open Sans', sans-serif;
    text-transform: capitalize;
    font-size: 35px;
    font-style: italic;
    width: 100%;
    line-height: 60px;
  }

  .landingavatar{
    transform: scale(0);
    opacity: 0;
  }

  .newlanding .bottomselectorslanding{
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    box-shadow: 0 -4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .newlanding .bottomselectorslanding .racetypediv{
    width: 20%;
    min-height: 35vh;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: ease 0.3s;
  }

  .newlanding .bottomselectorslanding .racetypediv:hover{
    transform: scale(1.2);
    border: solid #fff 5px;
    cursor: pointer;
  }

  .newlanding .bottomselectorslanding .racetypediv .racecontent{
    color: white;
  }

  .newlanding .bottomselectorslanding .racetypediv .racecontent h1{
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
  }

  .newlanding .bottomselectorslanding .racetypediv .racecontent p{
    text-align: center;
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-style: italic;
    text-transform: capitalize;
  }

  .fortytwo{
    background-image:
        linear-gradient(to bottom, #24c884b9, #24c883bb),
        url('../images/landing/42.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    transition: ease 0.5s;
  }

  .fortytwo:hover{
    background-image:
        linear-gradient(to bottom, #00000056, #00000056),
        url('../images/landing/42.jpg');
  }

  .twentyone{
    background-image:
        linear-gradient(to bottom, #24c884b9, #24c883bb),
        url('../images/landing/21.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
  }

  .twentyone:hover{
    background-image:
        linear-gradient(to bottom, #00000056, #00000056),
        url('../images/landing/21.jpg');
  }
  .ten{
    background-image:
        linear-gradient(to bottom, #24c884b9, #24c883bb),
        url('../images/landing/10.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
  }

  .ten:hover{
    background-image:
        linear-gradient(to bottom, #00000056, #00000056),
        url('../images/landing/10.jpg');
  }

  .five{
    background-image:
        linear-gradient(to bottom, #24c884b9, #24c883bb),
        url('../images/landing/5.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
  }

  .five:hover{
    background-image:
        linear-gradient(to bottom, #00000056, #00000056),
        url('../images/landing/5.jpg');
  }

  .three{
    background-image:
        linear-gradient(to bottom, #24c884b9, #24c883bb),
        url('../images/landing/3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
  }

  .three:hover{
    background-image:
        linear-gradient(to bottom, #00000056, #00000056),
        url('../images/landing/3.jpg');
  }

  /* Animation part */

  .titlediv, .subtitlediv{
    opacity: 0;
    transform: translateX(-100px);
  }