.organisers{
    min-height: 100vh;
    height:100%;
    font-family: 'Poppins', sans-serif;
    background: rgb(20, 15, 15);
}




.about-mrc-section{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image:
    linear-gradient(to bottom, rgba(0, 0, 0, 0.485), rgba(0, 0, 0, 0.785)),
    url('../images/running.png');
    background-size: cover;
    color:#fff;
    padding:20px;
}

.our-team{
    background: linear-gradient(120deg, rgba(0, 0, 0, 0.877), rgba(0, 0, 0, 0.548)),
    url('http://vrproduction.in/home/wp-content/uploads/2018/03/team.jpg') no-repeat;
    background-size: cover;
    height:40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color:white;
    font-family: 'Montserrat', sans-serif;
}

.our-team h1{
    font-size: 60px;
}

.circle_image_mrc{
    height:200px;
    width:200px;
    border-radius:50%;
    margin-bottom:10px;
}

.about-mrc-content h1{
    font-size:60px;
    text-align: center;
}

.about-mrc-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: HelveticaNeue;
}

/*VISIT BUTTON GLASS DESIGN */

.btn-visit{
    transition: opacity 2s ease;
    position: relative;
    padding:25px 30px;
    color:#fff;
    font-size: 0.7em;
    text-transform: uppercase;
    font-family: sans-serif;
    letter-spacing: 4px;
    overflow: hidden;
    background:rgba(255,255,255,0.1);
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
    border:none;
    width: 170px;
    height:70px;
  }
  
  .btn-visit:before{
    content: '';
    position: absolute;
    top:0;
    left:0;
    width:50%;
    height: 100%;
    background: rgba(255,255,255,.1);
  }
  
  .btn-visit:after{
    content:'';
    position: absolute;
    top:0;
    left:-100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, transparent,rgba(255,255,255,.4),transparent);
    transition: 0.5s;
    transition-delay: 0.5s;
  }
  
  .btn-visit:hover:after{
    left:100%;
  }
  
  .btn-visit:hover{
    background: transparent;
    border: none;
  }
  
  .btn-visit span{
    position: absolute;
    display: block;
    transition: 0.5s ease;
  }
  .btn-visit span:nth-child(1){
    top:0;
    left:0;
    width: 0;
    height: 1px;
    background: #fff;
  }
  
  .btn-visit:hover span:nth-child(1){
    width:100%;
    transform:translateX(100%);
  }
  
  .btn-visit span:nth-child(3){
    bottom:0;
    right:0;
    width: 0;
    height: 1px;
    background: #fff;
  }
  
  .btn-visit:hover span:nth-child(3){
    width:100%;
    transform:translateX(-100%);
  }
  
  .btn-visit span:nth-child(2){
    top:0;
    left:0;
    width: 1px;
    height: 0;
    background: #fff;
  }
  
  .btn-visit:hover span:nth-child(2){
    height:100%;
    transform:translateY(100%);
  }
  
  .btn-visit span:nth-child(4){
    bottom:0;
    right:0;
    width: 1px;
    height: 0;
    background: #fff;
  }
  
  .btn-visit:hover span:nth-child(4){
    height:100%;
    transform:translateY(-100%);
  }
  
  
  /* VISIT BUTTON DESIGN ENDS AND DIV DESIGN BEGINS */
/* 
.card{
    width:300px;
    height: 300px;
    transform-style: preserve-3d;
    perspective: 300px;
    transition: 0.3s;
}

.card .front{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background: #000;
    backface-visibility: hidden;
    transform: rotateX(0deg);
    transition: 0.3s;
}

.card:hover .front{
    transform: rotateX(-180deg);
}

.card .back{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background: #000;
    backface-visibility: hidden;
    transform: rotateX(180deg);
    transition: 0.3s;
}

.card .back:before{
    content: '';
    position: absolute;
    top:0;
    left:-50%;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,0.1);
}

.card:hover .back{
    transform: rotateX(0deg);
}

.card .back .details{
    position: absolute;
    top:50%;
    left:0;
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
    padding:20px;
    box-sizing: border-box;
}

.card .back .details h2{
    margin:0;
    padding:0;
    font-size:24px;
    color:#fff;

}

.card .back .details h2 span{
    color: #a7a7a7;
    font-size: 16px;
}

.social-icons{

    padding: 10px 0;
}

.social-icons a{
    display: inline-block;
    width:36px;
    height: 36px;
    text-align: center;
    background: #262626;
    color:#fff;
    text-decoration: none;
    border-radius: 50%;
    transition:0.3s;
}

.social-icons a .fa{
    line-height: 36px;
}
.social-icons a:hover{
    background: #e91e63;
} */

.og-card-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
/* 
.card{
    position: relative;
    width:200px;
    height: 300px;
    border: none;
    margin:30px;
    font-family: 'Poppins', sans-serif;
} */

.card .face{
    position: absolute;
    width: 100%;
    height: 100%;
    background-size:#000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card .face.face1{
    top:0;
    left:0;
    transition-property: left, z-index, transform;
    transition-delay: 0s, .3s, .3s;
    transition-duration: .3s, 0s, .3s;
    z-index:2;
    transform: translate(-10px, -10px);
}

.card:hover .face.face1{
    transition-property: transform, z-index, left ;
    transition-delay: 0s, .3s, .3s;
    transition-duration: .3s, 0s, .3s;
    transform: translate(170px, -10px);
    z-index: 1;
    left: -160px;
}

.card .face.face1 img{
    max-width: 100%;
}

.card .face.face2{
    background: #111;
    top:0;
    left:0;
    transition-property: left, z-index, transform;
    transition-delay: 0s, .3s, .3s;
    transition-duration: .3s, 0s, .3s;
    z-index:1;
}

.card:hover .face.face2{
    transition-property: transform, z-index, left ;
    transition-delay: 0s, .3s, .3s;
    transition-duration: .3s, 0s, .3s;
    transform: translate(-160px, -10px);
    z-index: 2;
    left: 160px;
}

.card .face.face2 .content{
    padding: 20px;
    box-sizing: border-box;

}

.card .face.face2 .content h2{
    margin: 0;
    padding: 0;
    color:#fff;
    text-align: center;
    text-transform: uppercase;
    font-size:12px;
}

.card .face.face2 .content p{
    margin: 10px 0 0;
    padding: 0;
    color:#fff;
    font-size:8px;
}

@media(max-width:768px){

    .about-mrc-content h1{
        font-size:20px;
    }

    .about-mrc-content img{
        width:150px;
        height:150px;
    }

    .about-mrc-content p{
        font-size:12px;
    }

    .our-team h1{
        font-size: 40px;
    }

    .og-card-container{
        width: 100% !important;
    }

    .logo{
        margin-top:13vh;
        left:30%;
        top:0;
        height:auto;
        width: 25vh;
      }

}


/* Third card design */
.middle{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.card{
    cursor: pointer;
    width:231px;
    height:300px;
    border: none;
    margin: 20px;
    border-radius: 10px;
    background: transparent;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.404), 0 1px 4px rgba(0, 0, 0, 0.24);
}

.front, .back{
    width: 100%;
    height:100%;
    overflow: hidden;
    backface-visibility: hidden;
    position: absolute;
    transition: transform .6s linear;
    border-radius:15px;
    box-shadow: 0 1px 6px rgba(255, 255, 255, 0.12), 0 1px 4px rgba(255, 255, 255, 0.24);
}

.front img{
    width: 100%;
    height: auto;
}

.front{
    transform: perspective(600px) rotateY(0deg);
}

.back{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #f1f1f1;
    transform: perspective(600px) rotateY(180deg);
}

.back h2{
    font-size: 15px;
    text-transform: capitalize;
}

.back span{
    font-size: 10px;
}

.back-content{
    color:#2c3e50;
    width: 100%;
    text-align: center;
    padding: 10px;
    
}

.back-content span{
    font-size: 0.8rem;
}

.sm{
    margin: 20px 0;
}

.card:hover .front{
    transform: perspective(600px) rotateY(-180deg);
}

.card:hover .back{
    transform: perspective(600px) rotateY(0deg);
}


/* New Sections  */

section.sec1{
    width: 100%;
    height: 90vh;
    position: relative;
    overflow: hidden;
    background: url('../images/1.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
  }

  .sec1 h1{
      font-size:3.5rem;
      color:white;
      text-align: center;
  }

  .sec3 h1{
    font-size:3.5rem;
      color:white;  
      text-align: center;
  }

  .btn {
    display: inline-block;
    background: var(--primary-color);
    color: #fff;
    padding: 0.8rem 1.5rem;
    border: none;
    cursor: pointer;
    font-size: 1.1rem;
    border-radius: 30px;
  }
  
  .btn:hover {
    background: var(--secondary-color);
  }
  
  section.sec1:before{
    content: '';
    position: absolute;
    top: 90%;
    width: 100%;
    height: 100%;
    background: rgb(255, 255, 255);
    transform-origin: right;
    transform: skewY(4deg);
  }
  
  section.sec2{
    height: auto;
    box-sizing: border-box;
    background: #E2E2E2;
  }
  
  section.sec2 h2{
    font-family: sans-serif;
    text-align: center;
    margin: 0;
    text-transform: uppercase;
    letter-spacing: 3px;
    
  }
  
  section.sec2 p{
    text-align: center;
    font-size: 2rem;
    line-height: 1rem;
    margin: 20px 0;
  }
  
  
  section.sec3{
    width: 100%;
    height: 90vh;
    position: relative;
    overflow: hidden;
    background: url('../images/landing.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }

  .sec3 h1{
      color:white;
      font-size: 3.5rem;
  }
  
  section.sec3:before{
    content: '';
    position: absolute;
    bottom: 90%;
    width: 100%;
    height: 100%;
    background: #FFF;
    transform-origin: left;
    transform: skewY(-4deg);
  }
  
  section.sec3:after{
    content: '';
    position: absolute;
    top: 90%;
    width: 100%;
    height: 100%;
    background: #FFF;
    transform-origin: right;
    transform: skewY(4deg);
  }
  
  section.sec4{
    height: auto;
    padding: 100px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .logo{
    border-radius: 50%;
    width: 33vh;
    height:auto;
    z-index:1;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    -webkit-animation: float 2.5s ease-in-out forwards;
            animation: float 2.5s ease-in-out forwards;
}

  
  
  section.sec4 h2{
    font-family: sans-serif;
    text-align: center;
    margin: 0;
    text-transform: uppercase;
  }
  
  section.sec4 p{
    text-align: center;
    font-size: 1.2rem;
    line-height: 1.5rem;
    margin: 20px 0;
  }
  
  section.sec5{
    width: 100%;
    height: 40vh;
    position: relative;
    overflow: hidden;
    background: url('https://images.pexels.com/photos/675764/pexels-photo-675764.jpeg?auto=compress&cs=tinysrgb&h=650&w=940');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    
  }
  
  section.sec5:before{
    content: '';
    position: absolute;
    bottom: 70%;
    width: 100%;
    height: 100%;
    background: #FFF;
    transform-origin: left;
    transform: skewY(-5deg);
  }
  
  