.paymentsection{
    min-height: 100vh;
    height: 100%;
    background: #111;
}
  .row {
    word-break: break-word;
    background: white;
    padding: 20px;
  }

  .row:nth-child(odd) {
    background: #ddd;
  }

  .row span:first-child {
    text-transform: capitalize;
    font-weight: bold;
    display: inline-block;
    width: 200px;
  }

  h1 {
    color: white;
    text-align: center;
    padding: 20px;
  }

  #out {
    margin: 0 auto;
    height: auto;
    margin-bottom: 5vh;
    overflow: auto;
    width: 90%;
    display: none;
  }

  /* a {
    display: table;
    margin: auto;
    text-decoration: none;
    display: none;
  } */

  button {
    color: #000014;
    background: white;
    border: none;
    border-radius: 5px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 3vh;
    padding: 5px 20px;
    margin: 0 auto;
    display: block;
    text-decoration: none;
    cursor: pointer;
  }

  .loader {
    width: 120px;
    height: 120px;
    transform: rotate(-90deg);
    stroke-linecap: round;
    stroke-width: 4;
    fill: none;
  }

  .internal-circle,
  .external-circle {
    stroke: cyan;
    stroke-dashoffset: 0;
    transform-origin: center;
  }

  .internal-circle {
    stroke-dasharray: 187;
    animation: internal 1.5s ease-in-out infinite;
    opacity: .4;
  }

  .external-circle {
    stroke-dasharray: 312;
    animation: external 1.5s linear infinite;
    opacity: .9;
  }

  #loader {
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    position: absolute;
    text-align: center;
    font-weight: 600;
    color: white;
    margin-top: 20px;
  }

  @keyframes internal {
    0% {
      stroke-dashoffset: 187;
    }

    25% {
      stroke-dashoffset: 80;
    }

    100% {
      stroke-dashoffset: 187;
      transform: rotate(360deg);
    }
  }

  @keyframes external {
    0% {
      stroke-dashoffset: 312;
    }

    60% {
      stroke-dashoffset: -312;
    }

    100% {
      stroke-dashoffset: -312;
      transform: rotate(360deg);
    }
  }

  @media screen and (max-width: 700px) {

    body {
      padding-left: 0;
      padding-right: 0;
    }

    #out {
      width: 95%;
    }

    span {
      display: block;
    }

  }