:root {
    --primary-color: #333;
    --secondary-color: #444;
    --overlay-color: rgba(0, 0, 0, 0.7);
  }

.section-a {
    margin: 2rem 0;
  }


  
  .section-a .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-content: space-between;
  }
  .section-a h1 {
    font-size: 4rem;
    color: var(--primary-color);
  }
  
  .section-a p {
    margin: 1rem 0;
  }

  .section-b {
    margin: 2rem 0;
  }


  
  .section-b .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-content: space-between;
    direction: rtl;
  }
  .section-b h1 {
    font-size: 4rem;
    color: var(--primary-color);
  }
  
  .section-b p {
    margin: 1rem 0;
  }
  @media (max-width: 700px) {
    .section-a .container {
      flex-direction: column;
      text-align: center;
    }

    .section-b .container {
        flex-direction: column-reverse;
        text-align: center;
      }
  
    .section-a .container div:first-child {
      order: 2;
    }
  
    .section-a .container div:nth-child(2) {
      order: -1;
    }
  
    .section-a img {
      width: 80%;
      margin: auto;
    }

}

.btn {
    display: inline-block;
    background: var(--primary-color);
    color: #fff;
    padding: 0.8rem 1.5rem;
    border: none;
    cursor: pointer;
    font-size: 1.1rem;
    border-radius: 30px;
  }
  
  .btn:hover {
    background: var(--secondary-color);
  }

#container-1{
  background-image:
      linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(117, 19, 93, 0.507)),
      url('../images/MM19.jpg');
  background-size: cover;
  background-attachment: fixed;
}
#container-2{
  background-image:
      linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(117, 19, 93, 0.507)),
      url('../images/MM18.jpg');
  background-size: cover;
  background-attachment: fixed;
}
#container-3{
  background-image:
      linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(117, 19, 93, 0.507)),
      url('../images/MM17.jpg');
  background-size: cover;
  background-attachment: fixed;
}

/* About page */

.about-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height:100%;
}

.info{
  display: flex;
  align-items: center;
  width:39%;
  left:0;
  top:0;
}
.info-header{
  font-family: 'Merriweather', 'Ariel', 'Helvetica';
  margin-bottom:20px;
}

.kmbtn{
  margin-top:20px;
  background: transparent;
  color: black;
  width:200px;
}

.kmbtn:hover{
  margin-top:10px;
  transition: ease-in 0.25s;
  -webkit-box-shadow: 0px 0px 5px 3px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow:    0px 0px 5px 3px #ccc;  /* Firefox 3.5 - 3.6 */
  box-shadow:         0px 0px 5px 3px #ccc;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}

.about-bg-diagonal-divider{
  clear: both;
  width:60%;
  height:700px;
  float:right;
  background-image:
      linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(117, 19, 93, 0.507)),
      url('../images/second_section.jpg');
  background-size: cover;
  border-left:200px solid #f8EEE7;
  border-top:700px solid transparent;
  background-attachment: fixed;
}


/* End of About page */

/* About second page */

.about-mrc{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.image-mrc{
  width:30%;
  height:350px;
  background: url('https://scontent.fhyd11-1.fna.fbcdn.net/v/t1.0-9/16729492_1855686434709989_3025221703173735545_n.jpg?_nc_cat=103&_nc_oc=AQnRKJgq-RY2v6pj_J6O-F760G-CRcZBGtwLf4aLjuGYyYHVKP8Sd1MqebcTf7-rD_eux1Hz2fiQtngT8-Wf3ZN2&_nc_ht=scontent.fhyd11-1.fna&oh=2401631018c1b92a99760376dbe49d2c&oe=5DAFFEB5') no-repeat;
  background-size: contain;
  background-position: center;
}

.about-mrc-text{
  border:solid red;
  width: 65%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.flex-container{
  height: 420px;
  background: repeating-linear-gradient(120deg, rgba(0, 0, 0, 0.0) 0px, rgba(0, 0, 0, 0.0) 450px, hsla(283,46%, 42%, 0.5) 250px, hsl(283,46%, 42%)) !important;
  border-left:white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}

.img-div{
  height:300px;
  width:500px;
  border-radius: 50%;
  margin-left:230px;
  background:white;
  position: relative;
  text-align: center;
  overflow: hidden;
  box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.789), 0 6px 20px 0 rgba(0, 0, 0, 0.79);
  display: flex;
  justify-content: center;
  align-items: center;
}

.image{
  max-width: 300px;
  top:0;
  right:0;
  bottom:0;
  left:0;
  display: block;
  width: 200px;
  height: auto;
}

.title{
  font-size:30px;
  color:white;
  font-family: impact;
  font-weight: 100;
  position: relative;
  letter-spacing: 3px;
  margin-top:10px;
}

.info{
  font-size:15px;
  font-weight: bold;
  margin:auto;
  color:white;
  width:100%;
}

.container-info{
  width:100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding:10px;
}

.flex-container-two{
  height: 420px;
  background: repeating-linear-gradient(-120deg, rgba(128, 57, 156, 0.596) 0px, rgba(128, 57, 156, 0.74) 875px, rgba(0, 0, 0, 0.0) 250px, rgba(0, 0, 0, 0.0)) !important;
  border-left:white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}

.img-div-two{
  height:300px;
  width:300px;
  border-radius: 50%;
  background:white;
  position: relative;
  text-align: center;
  overflow: hidden;
  margin-right: 230px;
  box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.789), 0 6px 20px 0 rgba(0, 0, 0, 0.79);
}

.image-two{
  border-radius: 50% !important;
  max-width: 300px;
  top:0;
  right:0;
  bottom:0;
  left:0;
  display: block;

}

.title-two{
  font-size:30px;
  color:white;
  font-family: impact;
  font-weight: 100;
  position: relative;
  letter-spacing: 3px;
  margin-top:10px;
}

.info-two{
  font-size:15px;
  font-weight: bold;
  margin:auto;
  color:white;
  width:100%;
}

.container-info .btn{
  margin:20px;
}

.container-info-two .btn{
  margin:20px;
}

.container-info-two{
  width:100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding:10px;
}

/* End of about */
/* Register Section */


@media only screen and (max-width: 700px){
  .img-div{
      height:170px;
      width:300px;
      border:none;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left:10px;
  }

  .image{
      max-width:100px;
      height: auto;
  }

  .title{
      font-size:20px;
      margin-top:0;
      text-align: center;
  }

  .title-two{
    font-size:20px;
    margin-top:0;
    text-align: center;
}

  .info{
      font-size: 8px;
  }

  .container-info{
      width:100%;
      height: 100%;
      padding:10px;
  }

  .flex-container{
      height: 300px;
      background: repeating-linear-gradient(120deg, rgba(0, 0, 0, 0) 0px, rgba(0, 0, 0, 0.2) 300px, hsla(283,46%, 42%, 0.5) 50px, hsl(283,46%, 42%)) !important;

  }

  .img-div-two{
      height:150px;
      width:150px;
      border:none;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 10px;
  }

  .image-two{
      max-width:100px;
      height: auto;
  }

  .title-two{
      font-size:20px;
      margin-top:0;
  }

  .info-two{
      font-size: 8px;
  }

  .container-info-two{
      width:100%;
      height: 100%;
      padding:10px;
  }

  .flex-container-two{
      height: 300px;
      background: repeating-linear-gradient(-120deg, hsla(283,46%, 42%, 0.5) 0px, hsl(283,46%, 42%) 182px, rgba(0, 0, 0, 0.0) 150px, rgba(0, 0, 0, 0.0)) !important;

      }
  }