*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #2a2a2a;
    height: 100vh;
    width: 100vw;
    color: #eee;
    scroll-behavior: smooth;
    scrollbar-track-color: #F50057;
    overflow-x: hidden;
}
body .Sections {
    position: fixed;
    width: 100%;
    height: 100%;
    opacity: 1;
    top:0;
    left: 0;
    overflow: hidden;
}
body .Sections section {
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    left: 0;
    background-color: #222;
    transform-origin: left bottom;
}
body .Sections section:first-of-type{
    z-index: 10;
}

body .Sections section:nth-of-type(1) {
    z-index: 9;
}

body .Sections section:nth-of-type(2) {
    z-index:8;
}

body .Sections section:nth-of-type(3) {
    z-index: 7;
}

body .Sections section:nth-of-type(4) {
    z-index: 6;
}


body .Sections section::after {
    content: '';
    width: 1px;
    position: absolute;
    background: #f50057;
    height: 100vh;
    border: 0px solid #F50057;
    top: 0;
    left: 60px;
}

body .Sections section h2 {
    background: #F50057;
    width: 300px;
    line-height: 50px;
    font-size: 24px;
    font-family: Tahoma;
    font-weight: 900;
    margin-top: 50px;
    margin-left: 50px;
    padding: 10px;
    z-index: 9;
    text-transform: uppercase;
}

.Text {
    font-size: 50px;
    margin-top: 132px;
    text-align: center;
    font-family: Tahoma;
    font-weight: 900;
    padding: 0px 65px;
    color: #2a2a2a;
}

.bottom-msg{
    margin-top: 132px;
    text-align: center;
    font-family: Tahoma;
    font-weight: 900;
    color: #333;
    position: absolute;
    bottom: 50px;
    margin-left: 50%;
    transform: translateX(-50%);
}

.map{
    margin-left:5%;
    width:30%;
    height: auto;
}

.images{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

Section .navigation{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width:70%;
    margin-left: 50%;
    transform: translateX(-50%);
}
