
@import url('https://fonts.googleapis.com/css?family=Hind:300,400');
:root {
    --primary-color: #333;
    --secondary-color: #444;
    --overlay-color: rgba(0, 0, 0, 0.7);
  }

.pacers{
    position: relative !important;
      background: linear-gradient(to bottom, rgba(23, 13, 23, 0.52), rgba(0, 0, 0, 0.83)),url("http://hdqwalls.com/wallpapers/running-track-sn.jpg") no-repeat center;
      background-attachment: fixed;
      background-size: cover;
      font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
      font-size: 14px;
      color:#000;
      height:90vh;
      display: flex;

}

.swiper-pagination-bullet {
    background-color: #fff !important;
  }

.pacers_title{
    width:100%;
    text-align: center;
    font-family: 'Marko One', serif;
    color:#fff;
    padding:0;
    margin-top:30px;
    margin-bottom:70px;

}

.swiper-container{
      width: 100%;
      padding-top: 20px;
      padding-bottom: 50px;
}

.swiper-slide{
      background-position: center;
      background-size: cover;
      width: 300px !important;
      height: 350px !important;
      background:#fff;
      overflow:hidden;
      box-shadow: 0 4px 8px 0 rgba(145, 145, 145, 0.4), 0 6px 20px 0 rgba(146, 146, 146, 0.49);
}

.imgBx{
    height:max-content !important;
    width:100%;
}
img{
    max-width: 100%;
    max-height: 100%;
    width:300px;
    height:auto;
}

.swiper-slide .details{
    box-sizing: border-box;
    padding:20px;
}

.swiper-slide .details h3{
    margin:0;
    padding:0;
    font-size: 20px;
    text-align: center;
    line-height: 20px;
}

.swiper-slide .details h3 span{
    font-size:16px;
    color: #f44336;
}


/* ROUTE SECTIon */

/* .route{
    position: relative;
    height:100vh;
    background: linear-gradient(to bottom, rgb(23, 13, 23), rgba(0, 0, 0, 0.83)),url("https://wpblink.com/sites/default/files/wallpaper/sports/73948/running-wallpapers-hd-73948-8575486.png") no-repeat center;
    background-attachment: fixed;
    background-size: cover;
    top:0;
    bottom:0;
    display: flex;
    flex-direction: column;
    align-items: center;
} */

.map-container{
    display: flex;
    flex-direction: row;
    width:90%;
    background: rgba(0, 0, 0, 0.63);
    border-radius: 5px;
    box-shadow: 0 1px 6px rgba(255, 255, 255, 0.12), 0 1px 4px rgba(255, 255, 255, 0.24);
    height: fit-content;
}

.route-map{
    width:50%;
    height:100%;
    opacity: 0;
    transform: scale(0);
}
.directions{
    width:50%;
    height:100%;
    color:white;
    text-align: center;
}
.directions ul li{
    list-style: none;
}

.route_title{
    margin-top:30px;
    width:100%;
    text-align: center;
    font-family: 'Marko One', serif;
    color:#fff;
    padding:0;
}
.route-map img{
    width:100%;
    height:auto;
}

@media(max-width:700px) {
    .map-container{
        flex-direction: column;
        justify-content: center;
    }
    .directions{
        width: 100%;
    }
    .route-map{
        width:100% !important;
        height:100%;
    }

    .container-faq{
        width: 100% !important;
    }

    .buttons{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
    }
}

/* FAQ */

.container-faq {
    margin: 0 auto;
    padding: 4rem;
    width: 70%;
  }
  
  .h3-faq {
    font-size: 1.75rem;
    color: #373d51;
    padding: 1.3rem;
    margin: 0;
  }
  
  .h2-faq {
    font-size: 1.25rem;
    color: #373d51;
    padding: 1.3rem;
    margin: 0;
  }
  .accordion a {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    padding: 1rem 3rem 1rem 1rem;
    color: #7288a2;
    font-size: 1.15rem;
    font-weight: 400;
    border-bottom: 1px solid #e5e5e5;
  }
  
  .accordion a:hover,
  .accordion a:hover::after {
    cursor: pointer;
    color: #03b5d2;
  }
  
  .accordion a:hover::after {
    border: 1px solid #03b5d2;
  }
  
  .accordion a.active {
    color: #03b5d2;
    border-bottom: 1px solid #03b5d2;
  }

  .right-content{
      opacity: 0;
      transform: translateX(-110px);
  }
  
  .accordion a::after {
    font-family: 'Ionicons';
    content: '\f218';
    position: absolute;
    float: right;
    right: 1rem;
    font-size: 1rem;
    color: #7288a2;
    width: 30px;
    height: 30px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 1px solid #7288a2;
    text-align: center;
  }
  
  .accordion a.active::after {
    font-family: 'Ionicons';
    content: '\f209';
    color: #03b5d2;
    border: 1px solid #03b5d2;
  }
  
  .accordion .content {
    opacity: 0;
    padding: 0 1rem;
    max-height: 0;
    border-bottom: 1px solid #e5e5e5;
    overflow: hidden;
    clear: both;
    -webkit-transition: all 0.2s ease 0.15s;
    -o-transition: all 0.2s ease 0.15s;
    transition: all 0.2s ease 0.15s;
  }
  
  .accordion .content p {
    font-size: 1rem;
    font-weight: 300;
  }
  
  .accordion .content.active {
    opacity: 1;
    padding: 1rem;
    max-height: 100%;
    -webkit-transition: all 0.35s ease 0.15s;
    -o-transition: all 0.35s ease 0.15s;
    transition: all 0.35s ease 0.15s;
  }

.buttons{
    margin:20px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
}