
.testimonial-section{
	background: #e2e2e2;
	padding: 80px 0;
	text-align: center;
  }
  
  .inner-width{
	max-width: 1200px;
	margin: auto;
	padding: 0 20px;
  }
  
  .testimonial-section h1{
	font-weight: 400;
	letter-spacing: 10px;
	text-transform: uppercase;
	font-size: 20px;
  }
  
  .testimonial-pics{
	padding: 40px 0;
  }
  
  .testimonial-pics img{
	width: 80px;
	height: 80px;
	border-radius: 50%;
	margin: 0 20px;
	filter: grayscale(100%);
	transition: .3s;
	cursor: pointer;
  }
  
  .testimonial-pics img:hover, .testimonial-pics img.active{
	filter: none;
  }
  
  
  .testimonial-contents{
	max-width: 1000px;
	margin: auto;
  }
  
  .testimonial{
	display: none;
  }
  
  .testimonial.active{
	display: block;
  }
  
  .testimonial p{
	color: #5c5c5c;
	margin-bottom: 20px;
  }
  
  .testimonial .description{
	text-transform: uppercase;
	letter-spacing: 4px;
	font-size: 15px;
	}
	
	.overlay-map {
		position: fixed;
		display: none;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: rgba(0,0,0,0.5);
		z-index: 2;
		cursor: pointer;
	}

	.overlay-map img{
		position: absolute;
		top:50%;
		left:50%;
		transform: translate(-50%,-50%);
		width:70vh;
		height: auto;
	}
	
	.map-to-click{
		box-sizing: border-box;
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
		width:40%;
		height: auto;
	}

	.map-to-click:hover{
		opacity: 0.7;
		cursor: pointer;
	}

.images{
	padding: 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width:100%;
}

.right-content img:nth-child(1){
	width:100%;
	height: auto;
	margin: 10px;
}

.btn {
	display: inline-block;
	background: var(--primary-color);
	color: #fff;
	padding: 0.8rem 1.5rem;
	border: none;
	cursor: pointer;
	font-size: 1.1rem;
	border-radius: 30px;
	margin: 10px;
}

.btn:hover {
	background: var(--secondary-color);
	color:white;
}

.route-map{
	width: 49%;
}

.right-content{
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: column;
	height: 100%;
	width:50%;
}

@media (max-width: 700px){
	.images{
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
		padding: 10px;
	}

	.right-content{
		width: 100%;
	}

	.images img{
		margin:10px;
	}
}

