@import url(https://fonts.googleapis.com/css?family=Raleway:200,500,700,800);

.registermain{
  min-height: 100vh;
  height: 100%;
  background: rgb(24, 24, 24);
  font-weight: 500;
  font-size: 1.05em;
  font-family: 'Raleway', Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 20px;
  color: white;
}
#container {
  width: 710px;
  height: 5em;
  display: none;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  height: 100%;
  width: 70%;
}

#container form{
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.input {
  position: relative;
  margin: 1em;
  width: calc(50% - 2em);
  height: 80px;
}

@media only screen and (max-width: 600px) {
  .input {
    margin: 0.2em;
    width: calc(100%);
  }
}


.message {
  width: calc(100% - 2em);
  height: 200px;
}

textarea {
  border: none;
  resize: none;
}

.input__field {
  position: absolute;
  margin: 0.8em 0;
  padding: 0.4em;
  width: 100%;
  height: calc(100% - 1.6em);
  border: none;
  border-radius: 0;
  background: transparent;
  color: #fff;
  font-size: 1.15em;
  font-weight: bold;
  -webkit-appearance: none;/* for box shadows to show on iOS */
}

.select__field {
  margin: 0.8em 0;
  padding: 0.4em;
  width: 100%;
  height: calc(100% - 1.6em);
  border: none;
  border-top: solid 2px#6a7989;
  border-bottom: solid 2px#6a7989;
  border-radius: 0;
  background: transparent;
  color: #fff;
  font-size: 0.85em;
  font-weight: bold;
  -webkit-appearance: none;/* for box shadows to show on iOS */
}

.select__field option{
  background: #111;
}

.input__field:focus {
  outline: none;
}

.input__field:hover {
  background: rgba(0, 0, 0, 0.329);
}

.select__field:hover {
  background: rgba(0, 0, 0, 0.329);
}

.input__label {
  position: absolute;
  padding: 0 1em;
  margin: 1.2em 0;
  width: 100%;
  height: calc(100% - 2.4em);
  color: #6a7989;
  font-weight: bold;
  font-size: 70.25%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.input__label-content {
  position: relative;
  display: block;
  padding: 1.5em 0;
  width: 100%;
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
}

.input__label::before,
.input__label:after {
  content: '';
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background: #6a7989;
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
}

.input__label::before {
  top: 0;
}

.input__label::after {
  bottom: 0;
}

.input__field:focus + .input__label .input__label-content,
.input--filled .input__label-content {
  -webkit-transform: translate3d(0, -90%, 0);
  transform: translate3d(0, -90%, 0);
}

.input__field:focus + .input__label::before,
.input--filled .input__label::before {
  -webkit-transform: translate3d(0, -0.5em, 0);
  transform: translate3d(0, -0.5em, 0);
}

.input__field:focus + .input__label::after,
.input--filled .input__label::after {
  -webkit-transform: translate3d(0, 0.5em, 0);
  transform: translate3d(0, 0.5em, 0);
}

#send-button {
  width: 200px;
  height: 60px;
  background-color: #6a7989;
  color: #000;
  border: 0;
  font-weight: bold;
  font-size: 70.25%;
  text-transform: uppercase;
  letter-spacing: 4px;
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
}

#send-button:hover,
#send-button:focus {
  outline: 0;
  background-color: #ffcc00;
  color: #000;
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
}


#mahebox{
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}


/* .slideTwo */
.slideTwo {
  width: 80px;
  height: 30px;
  background: #333;
  margin: 20px auto;
  position: relative;
  border-radius: 50px;
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px rgba(255, 255, 255, 0.2);
}
.slideTwo:after {
  content: '';
  position: absolute;
  top: 14px;
  left: 14px;
  height: 2px;
  width: 52px;
  background: #111;
  border-radius: 50px;
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px rgba(255, 255, 255, 0.2);
}
.slideTwo label {
  display: block;
  width: 22px;
  height: 22px;
  cursor: pointer;
  position: absolute;
  top: 4px;
  z-index: 1;
  left: 4px;
  background: #fcfff4;
  border-radius: 50px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
  background: -webkit-gradient(linear, left top, left bottom, from(#fcfff4), color-stop(40%, #dfe5d7), to(#b3bead));
  background: linear-gradient(to bottom, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
}
.slideTwo label:after {
  content: '';
  width: 10px;
  height: 10px;
  position: absolute;
  top: 6px;
  left: 6px;
  background: #333;
  border-radius: 50px;
  box-shadow: inset 0px 1px 1px black, 0px 1px 0px rgba(255, 255, 255, 0.9);
}
.slideTwo input[type=checkbox] {
  visibility: hidden;
}
.slideTwo input[type=checkbox]:checked + label {
  left: 54px;
}
.slideTwo input[type=checkbox]:checked + label:after {
  background: #27ae60;
  /*activeColor*/
}

.mahechecker{
  color: #6a7989;
  display: flex;
  justify-content: center;
  align-items: center;
}


.overlay-map {
  position: fixed;
  display: none;
  width: 50%;
  height: 80%;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background-color: rgb(0, 0, 0);
  border-radius: 2px;
  z-index: 2;
  cursor: pointer;
  padding: 20px;
  margin: 20px;
}

/* end .slideTwo */

/* Terms and Conditions checkers  */

.register_button{
  text-transform: capitalize;
  background:#80333349;
  color:#ccc;
  width:240px !important;
  height:80px !important;
  border: 1px solid #803333;
  font-size:18px;
  border-radius: 4px;
  transition: .6s;
  overflow: hidden;
}

.register_button:focus{
  outline: none;
}

.register_button:before{
  content:'';
  display: block;
  position: absolute;
  background: transparent;
  width:60px;
  height:100%;
  left:0;
  top:0;
  opacity: .5s;
  filter: blur(30px);
}

.register_button:after{
content:'';
display: block;
position: absolute;
background: transparent;
width:30px;
height:100%;
left:30px;
top:0;
opacity: 0;
filter: blur(30px);
}

.register_button:hover{
background: #803333;
cursor: pointer;
}

.register_button:hover:before{
transform: translateX(300px) skew(-15deg);
opacity:.6;
transition: .7s;
}

.register_button:hover:after{
transform: translateX(300px) skew(-15deg);
opacity:1;
transition: .7s;
}

.register_button:disabled{
background: #2222228a;
cursor: default;
}

.tnc{
  margin: 20px;
  display: none;
}

#typeselector{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

#typeselector button{
  margin: 20px;
}

.invalid{
  border:dashed red 0.5px;
}

