/* Main Hanler */
/* @import url("https://use.fontawesome.com/releases/v5.6.3/css/solid.css");
@import url("https://use.fontawesome.com/releases/v5.6.3/css/fontawesome.css"); */

/* * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
} */


main {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
  /* width: 100vw; */
  height: 100vh;
  background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);
  -webkit-tap-highlight-color: transparent;
  flex-direction: column;
}

.catbutton{
  opacity:0;
}

.circlelogo{
  opacity: 0;
}

.data{
  width: 100%;
  height: 0;
  opacity: 0;
  background: rgba(21, 17, 59, 0.4);
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  overflow-x: hidden;
}

.diamond-grid {
  width: 450px;
  height: 450px;
  display: grid;
  grid-template-rows: repeat(33.3%, 3);
  grid-template-columns: 32.6% 32.6% 32.6%;
  grid-row-gap: 3px;
  grid-column-gap: 3px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  box-shadow: 0 0 30px 3px rgba(0, 0, 0, 0.4);
  background: transparent;
  text-align: center;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .diamond-grid {
    width: 250px;
    height: 250px;

  }


  .diamond-grid div {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
            align-items: center;
    -webkit-box-pack: center;
            justify-content: center;
    border: 3px solid #FFF;
    background: #020E21;
    color: rgba(255, 255, 255, 0.6);
    text-align: center;
    font-size: 1.5rem;
    -webkit-transition: all ease-out .05s;
    transition: all ease-out .05s;
    /* min-width: 147.41px; */
    /* min-height: 147.41px; */
  }
  .diamond-grid div h1 {
    color: #FFF;
    font-size: 20px !important;
  }
  
}

.diamond-grid div {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
  border: 3px solid #FFF;
  background: #020E21;
  color: rgba(255, 255, 255, 0.6);
  text-align: center;
  font-size: 2.5rem;
  -webkit-transition: all ease-out .05s;
  transition: all ease-out .05s;
  /* min-width: 147.41px; */
  /* min-height: 147.41px; */
}

.diamond-grid div:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  border: none;
  background: #1C62D4;
  cursor: pointer;
}

.diamond-grid div i {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.diamond-grid div h1 {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.diamond-grid div img {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  margin: 40px;
  width: auto;
  height: 210px !important;
}

.diamond-grid div:hover h1 {
  color: #FFF;
}

/* End of Main Handler */

/* Category Selector */
/* .container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.circle {
  align-items: center;
  justify-content: center;
  width: 29.75vw;
  height: 29.75vw;
  border: 0.25vw solid #fff;
  border-radius: 50%;
  display: none;
}

.items {
  position: relative;
}

.item {
  position: absolute;
  top: -2.5vw;
  left: -2.5vw;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10vw;
  height: 5vw;
  border-radius: 10%;
  font-size: 1vw;
  font-weight: bold;
  color: #fff;
}

.item:nth-child(1) {
  animation: pos1 1.5s ease-in-out;
  transform: rotate(90deg) translateX(-15vw) rotate(-90deg);
  background: #D32F2F;
  display: none;
}

.item:nth-child(2) {
  animation: pos2 1.5s ease-in-out;
  transform: rotate(120deg) translateX(-15vw) rotate(-120deg);
  background: #FFA000;
}

.item:nth-child(3) {
  animation: pos3 1.5s ease-in-out;
  transform: rotate(150deg) translateX(-15vw) rotate(-150deg);
  background: #FFD54F;
}

.item:nth-child(4) {
  animation: pos4 1.5s ease-in-out;
  transform: rotate(180deg) translateX(-15vw) rotate(-180deg);
  background: #4CAF50;
}

.item:nth-child(5) {
  animation: pos5 1.5s ease-in-out;
  transform: rotate(210deg) translateX(-15vw) rotate(-210deg);
  background: #2196F3;
}

.item:nth-child(6) {
  animation: pos6 1.5s ease-in-out;
  transform: rotate(240deg) translateX(-15vw) rotate(-240deg);
  background: #4A148C;
}

.item:nth-child(7) {
  animation: pos7 1.5s ease-in-out;
  transform: rotate(270deg) translateX(-15vw) rotate(-270deg);
  background: #4a4a4a;
  display: none;
}

.item:nth-child(8) {
  animation: pos7 1.5s ease-in-out;
  transform: rotate(270deg) translateX(-15vw) rotate(-270deg);
  background: #4a4a4a;
  display: none;
}

@keyframes pos1 {
  0% { transform: rotate(-45deg) translateX(-15vw) rotate(45deg); }
  100% { transform: rotate(90deg) translateX(-15vw) rotate(-90deg); }
}

@keyframes pos2 {
  0% { transform: rotate(-45deg) translateX(-15vw) rotate(45deg); }
  100% { transform: rotate(120deg) translateX(-15vw) rotate(-120deg); }
}

@keyframes pos3 {
  0% { transform: rotate(-45deg) translateX(-15vw) rotate(45deg); }
  100% { transform: rotate(150deg) translateX(-15vw) rotate(-150deg); }
}

@keyframes pos4 {
  0% { transform: rotate(-45deg) translateX(-15vw) rotate(45deg); }
  100% { transform: rotate(180deg) translateX(-15vw) rotate(-180deg); }
}

@keyframes pos5 {
  0% { transform: rotate(-45deg) translateX(-15vw) rotate(45deg); }
  100% { transform: rotate(210deg) translateX(-15vw) rotate(-210deg); }
}

@keyframes pos6 {
  0% { transform: rotate(-45deg) translateX(-15vw) rotate(45deg); }
  100% { transform: rotate(240deg) translateX(-15vw) rotate(-240deg); }
}

@keyframes pos7 {
  0% { transform: rotate(-45deg) translateX(-15vw) rotate(45deg); }
  100% { transform: rotate(270deg) translateX(-15vw) rotate(-270deg); }
} */


#learn-more {
  fill-opacity: 0;
  fill: #fff;
  stroke: #fff;
  stroke-width: 2;
  border-radius: 5px;
  stroke-linejoin: round;
  -webkit-transition: all 250ms ease-in;
  transition: all 250ms ease-in;
  cursor: pointer;
}
#learn-more:hover {
  fill-opacity: 1;
}
#learn-more:hover ~ .learn-more-text {
  fill: #005fa4;
}

.learn-more-text {
  font-family: 'Roboto';
  fill: #fff;
  pointer-events: none;
  font-size: 14px;
  -webkit-transition: all 250ms ease-in;
  transition: all 250ms ease-in;
}

/* .center {
  fill: #005fa4;
} */

.pointer {
  fill: #fff;
  stroke: #3b8fc0;
  stroke-width: 2;
}

.nav-copy {
  font-family: 'Roboto';
  fill: #fff;
  fill-opacity: 1;
  -webkit-transition: all 250ms ease-in;
  transition: all 250ms ease-in;
}
.nav-copy.changing {
  fill-opacity: 0;
}

.service {
  cursor: pointer;
}
.service text {
  font-size: 14px;
  font-family: 'Roboto';
  text-anchor: middle;
}
.service .icon-wrapper {
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
}
.service .icon-wrapper, .service .icon-wrapper > * {
  -webkit-transition: all 250ms ease-in;
  transition: all 250ms ease-in;
}
.service circle {
  fill: #005fa4;
}
.service circle.shadow {
  fill-opacity: 0;
  -webkit-filter: url(#service-shadow);
          filter: url(#service-shadow);
}
.service use {
  fill: #fff;
}
.service text {
  fill: #fff;
}
.service.active .icon-wrapper, .service:hover .icon-wrapper {
  -webkit-transform: scale(1.15) translateY(-5px);
          transform: scale(1.15) translateY(-5px);
}
.service.active .icon-wrapper, .service.active .icon-wrapper > *, .service:hover .icon-wrapper, .service:hover .icon-wrapper > * {
  -webkit-transition: all 250ms ease-out;
  transition: all 250ms ease-out;
}
.service.active .icon-wrapper circle.shadow, .service:hover .icon-wrapper circle.shadow {
  fill-opacity: 0.4;
}
.service.active text, .service:hover text {
  fill: #005fa4;
  font-weight: bold;
}

@media only screen and (max-width: 768px) {
  .data{
    display: flex !important;
    align-items: center !important;
    flex-direction: column;
    overflow-y: hidden;
  }
  
  .data .mainmenu {
    width: 75%;
    transform: translate(0px);
    flex-direction: row;
    flex-wrap: wrap;
    margin: 20px;
  }

  .data .mainmenu2{
    transform: translate(0px);
  }
}


.mainmenu {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: auto;
  padding: 10px;
  background: #7B49DD;
  border-radius: 30px;
  transform: translateX(500px);
  box-shadow: 0 0 40px 5px rgba(123, 73, 221, 0.25);
}

.mainmenu2 {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: auto;
  padding: 10px;
  background: #7B49DD;
  border-radius: 30px;
  box-shadow: 0 0 40px 5px rgba(123, 73, 221, 0.25);
  transform: translateX(450px);
  opacity: 0;
}

.bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  width: 100%;
  height: 50px;
  padding: 10px 0px;
  margin-bottom: 10px;
}
.bar__icon {
  width: 40px;
  height: 40px;
  object-fit: contain;
  padding: 10px;
  background: #6b34d9;
  border-radius: 50%;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 520px;
  position: relative;
}

.menu2 {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 160px;
  position: relative;
}

.menu__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 140px;
  height: 170px;
  cursor: pointer;
  background: transparent;
  z-index: 100;
  transition: 150ms;
}
.menu__item:hover .menu__icon {
  animation: icon .1s 4;
}
.menu__item:hover .menu__span {
  transition: 300ms;
}

.menu__item2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 140px;
  height: 170px;
  cursor: pointer;
  background: transparent;
  z-index: 100;
  transition: 150ms;
}
.menu__item2:hover .menu__icon {
  animation: icon .1s 4;
}
.menu__item2:hover .menu__span {
  transition: 300ms;
}


.menu__icon {
  width: 25px;
  height: 35px;
  object-fit: contain;
  margin: 2px;
}
.menu__content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  width: 100%;
  height: 44px;
  overflow: hidden;
  color: #fff;
}

/**/
.is-active {
  position: absolute;
  top: 0;
  left: 0;
  width: 140px;
  height: 140px;
  background: #6b34d9;
  transition: 200ms;
  border-radius: 20px;
}

@keyframes icon {
  0% {
    transform: rotateZ(-10deg);
  }
  100% {
    transform: rotateZ(10deg);
  }
}


/* End of Category Selector  */

/* Final result */

.finalresult{
  min-height: 100vh !important;
  height: 100%;
  background-image: linear-gradient(to top, #504a4b 0%, #35383b 99%, #5c6169 100%);
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
/*======================basis-member============================*/

.member-box {
  position: relative;
  border-radius: 20px;
  overflow: hidden;
  width: 300px;
  margin: 30px auto;
  font-family: 'Raleway', sans-serif;
}
.member-box .shape {
  width: 200px;
  height: 200px;
  opacity: 0.5;
  position: absolute;
  top: 0;
  right: -100px;
  transform: rotate(45deg);
}

.gold{
  background:#FFD700;
}

.silver{
  background: #C0C0C0;
}

.bronze{
  background: #cd7f32;
}

.member-box .card-img-top {
  position: relative;
  width: 140px;
  height: 140px;
  border-radius: 50%;
  margin: 20px auto;
  text-align: center;
  box-shadow: 0px 0px 0px 8px rgba(0, 0, 0, 0.06);
  transition: box-shadow 0.3s ease;
}

.member-box:hover .card-img-top {
  box-shadow: 0px 0px 0px 12px rgba(0, 0, 0, 0.1)
}

.member-box .member-degignation {
  color: var(--green);
}

.member-box small {
  font-size: 15px;
}

.member-box .social a {
  font-size: 15px;
  color: var(--green);
  padding: 10px;
}

.member-box .card-footer {
  background-color: transparent;
  border: 0;
}