@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

body{
    margin:0;
    padding:0;
    font-family: 'Source Sans Pro', sans-serif;
    width:100%;
    
}

.c-slider{
    overflow: hidden !important;
    background: black;
}

main{
    height:100%;
}

/*Landing Section*/

.landing{
    /* The image used */
  background-image: url("../images/landing.png");

  /* Full height */
  height: 100vh; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/*Second Section*/
.follow{
    height:100vh;
    background: #000;
}

#footer{
    bottom:0;
    position: relative;
}