body::-webkit-scrollbar {
    display: none;
  }

  body{
    -ms-overflow-style: none;
  }

.cd-link{
    color:white;
    text-decoration: none;
    background: black;
    padding: 10px 30px;
    letter-spacing: 2;
    border-radius: 50px;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
}

.cd-link:hover{
    text-decoration: none;
}

.cd-btn{
    display: inline-block;
    padding: 1.7em 2.4em;
    font-size: 1.4rem;
    letter-spacing: .15em;
    color: white;
    font-weight: 700;
    text-transform: uppercase;
    background: black !important;
    transition: box-shadow 0.3s;

}

.no-touch .cd-btn:hover{
    box-shadow: 0 7px 20px rgba(0, 0, 0, 0.1);
}

.cd-heading{
    font-size: 2.7rem;
    line-height: 1;
    margin-bottom: 1em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.training-section{
    min-height: 100vh;
    height: 100%;
    background: black !important;
}

.cd-main-content{
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    display: table;
}

.cd-para{
    font-size: 1.0rem !important;
}

.cd-main-content .center{
    display: table-cell;
    vertical-align: middle;
    text-transform: center;

}

.cd-modal{
    position: fixed;
    top:0;
    left:0;
    z-index: 3;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background: url('../images/modal-bg.jpg') no-repeat center center;
    background-size: cover;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s 0s, visibility 0s 0.3s;

}

.cd-modal .modal-content{
    height: 100%;
    overflow-y: auto;
    padding: 3em 5%;
    color: #e4dcca;
    background: transparent;
    -webkit-font-smoothning: antialiased;
}


.card-week{
    position: relative;
    min-width: 330px;
    max-width: 320px;
    min-height: 734px;
    max-height: 734px;
    height: auto;
    border-radius: 15px;
    margin: 0 auto;
    margin-top: 20px;
    padding: 40px 20px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.795);
    transition: .5s;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

#title-mm-train{
    opacity: 0;
    transform: translateY(-110px);
}

.training-logo{
    opacity: 0;
    transform: translateY(110px);
    border-radius: 50%;
}
#sub-title{
    opacity: 0;
    transform: translateX(110px);
}

.links-training{
    opacity: 0;
    transform: translateX(-110px);
    padding: 0px !important;
}

 .card-week:nth-child(1){
    background: #cb356b; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #cb356b, #bd3f32); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #cb356b, #bd3f32); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.card:nth-child(2){
    background: #3A1C71;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFAF7B, #D76D77, #3A1C71);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFAF7B, #D76D77, #3A1C71); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.card-week:nth-child(3){
    background: #283c86;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #45a247, #283c86);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #45a247, #283c86); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}

.card-week:nth-child(4){
    background: #c0392b;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #8e44ad, #c0392b);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #8e44ad, #c0392b); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.card-week:nth-child(5){
    background: #159957;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #155799, #159957);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #155799, #159957); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ 12+, Safari 7+ */

}

.card-week:nth-child(6){
    background: #F2994A;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #F2C94C, #F2994A);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #F2C94C, #F2994A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.card-week .title .fa{
    background: transparent;
}

.option::before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40%;
    background: rgba(255,255,255,.1);
    z-index: 1;
    transform: skewY(-5deg) scale(2.5);
}

.title .fa{
    color: #fff;
    font-size: 60px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    text-align: center;
    line-height: 100px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.644);
}

.title{
 display: flex;
 justify-content: center;
 flex-direction: column;
}

.title h2{
    margin: 10px 0 20px;
    padding: 0;
    font-size: 28px;
    z-index: 2;
}

.option{
    position: relative;
    z-index: 2;
}

.option .table{
    color:white;
}

.option .table tr{
    min-width: 100% !important;
}

.option ul{
    padding: 0;
    margin: 0;
    text-align: center;
}

.option ul li{
    margin: 0;
    padding: 0;
    list-style: none;
    color: #fff;
    font-size: 16px;
    margin: 5px;
}

.weeks-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}