<link rel="stylesheet" href="/./stylesheets/results.css">
<script src="/./javascripts/results.js"></script>

<section class="finalresult">
    {{#if winnerscount}}
        {{#each winners}}
            <link href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap" rel="stylesheet">
            <div class="card member-box shadow-lg">
                <span class="shape {{#ifCond this.Position 1}}gold{{/ifCond}}{{#ifCond this.Position 2}}silver{{/ifCond}}{{#ifCond this.Position 3}}bronze{{/ifCond}}"></span>
                <img class="card-img-top" src="/../images/MM18logo.png" alt="">
                <div class="card-body">
                    <span class="member-degignation">Position: {{this.Position}}</span>
                    <h4 class="member-title">{{this.Name}}</h4>
                    <small><strong>Time: </strong>{{this.Time}}</small> <br>
                    <small><strong>BiB No: </strong> {{this.Bib}}</small>
                    <br>
                    <small><strong>Race Type: </strong> {{this.Distance}}</small>
                    <small><strong>Gender: </strong> {{this.Sex}}</small>
                    <small><strong>Category: </strong> {{this.Category}}</small>
                </div>
                
            </div>
        {{/each}}
    {{else}}
    <div>
        <h1 class="text-white">NO PARTICIPANTS IN THIS CATEGORY</h1>
        <span class="text-white"><a class="text-white" href="/results">Return Back</a></span>
    </div>
    {{/if}}
</section>