<link rel="stylesheet" href="./stylesheets/results.css">
<script src="./javascripts/results.js"></script>
{{!-- <div class="heading">
  <h3>Manipal Marathon Results</h3>
</div> --}}
<main class="maintain">
	<div class="diamond-grid">
		<div class="catbutton but1" id="5 KM">
			<h1>5 KM</h1>
		</div>
		
		<div>
            
		</div>
		
		<div class="catbutton but2" id="10 KM">
			<h1>10 KM</h1>
		</div>
		
		<div>
			
		</div>
		
		<div>
			<img class="circlelogo" src="../images/MM18logo.png" alt="">
		</div>
		
		<div>

		</div>
		
		<div class="catbutton but4" id="21 KM">
			<h1>21 KM</h1>
		</div>
		
		<div>

		</div>
		
		<div class="catbutton but3" id="42 KM">
			<h1>42 KM</h1>
		</div>
	</div>
    

  <div class="data">
    <div class="mainmenu">
      <div class="menu">
        <div class="menu__item" id="0-0" alt="18 to 40 yrs"> <img class="menu__icon" src="../images/icons/4.svg"/>
          <div class="menu__content"><span class="menu__span">18 to 40 yrs</span></div>
        </div>
        <div class="menu__item" id="1-0" alt="41 to 55 yrs"><img class="menu__icon" src="../images/icons/1.svg"/>
          <div class="menu__content"><span class="menu__span">41 to 55 yrs</span></div>
        </div>
        <div class="menu__item" id="0-1" alt="56 yrs and above"><img class="menu__icon" src="../images/icons/2.svg"/>
          <div class="menu__content"><span class="menu__span">56 yrs and above</span></div>
        </div>
        <div class="menu__item" id="1-1" alt="MAHE Student"><img class="menu__icon" src="../images/icons/3.svg"/>
          <div class="menu__content"><span class="menu__span">MAHE Student</span></div>
        </div>
        <div class="menu__item" id="0-2" alt="MAHE Staff 25 to 50 yrs"><img class="menu__icon" src="../images/icons/4.svg"/>
          <div class="menu__content"><span class="menu__span">MAHE Staff 25<br> to 50 yrs</span></div>
        </div>
        <div class="menu__item" id="1-2" alt="MAHE Staff Above 50 yrs"><img class="menu__icon" src="../images/icons/5.svg"/>
          <div class="menu__content"><span class="menu__span">MAHE Staff Above<br> 50 yrs</span></div>
        </div>
        <div class="is-active" id="current"></div>
      </div>
    </div>
    <div class="mainmenu2">
      <div class="menu2">
        <div class="menu__item2 genderclass" id="0-0" alt="M"> <img class="menu__icon" src="../images/icons/4.svg"/>
          <div class="menu__content"><span class="menu__span">Male</span></div>
        </div>
        <div class="menu__item2 genderclass" id="1-0" alt="F"><img class="menu__icon" src="../images/icons/1.svg"/>
          <div class="menu__content"><span class="menu__span">Female</span></div>
        </div>
        <div class="is-active" id="current"></div>
      </div>
    </div>

  </div>
</main>
